/*body*/.all-props {
  
  &__search {
    
    // Darn the specificity of not
    &:not(.btn) {
      display: block;
      padding: 0.5em 1em 0.5em 2em;
      width: 100%;
    }
  
    &__wrapper {
      position: relative;
      z-index: 1;
      
      svg {
        color: palette('brand-teal');
        height: em(24);
        position: absolute;
        top: 50%;
        left: 0.5em;
        transform: translateY(-50%);
        width: em(24);
      }
    }
  }
  
  &__list {
    margin-top: $vertical-rhythm;
  }
  
  &__alpha {
    @include ff-sans(true);
    background-color: palette('gray-100');
    color: palette('brand-teal-dark');
    line-height: 1;
    padding: 0.5rem;
    margin: -0.125rem -0.5rem;
    position: sticky;
    top: 0;
  }
  
  &__item {
    border-bottom: 2px dotted palette('brand-orange');
    padding: ($vertical-rhythm/2) 0;
  }
  
  &__link {
    // font-size controlled in typography
  }
  
  &__aka,
  &__cats {
    display: block;
  }
}
