@keyframes shrinkAnimation {
  from {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  to {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.essay {
  scroll-timeline-name: --headerTimeline;

  header {
    animation-name: shrinkAnimation;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-direction: alternate;
    animation-timeline: --headerTimeline;
    background: center center no-repeat url() transparent;
    background-size: cover;
  }

  &__hero {
    background-color: rgba(palette('brand-dark-brown'), 0.65);
  }

  &__title {
    color: $white;
  }

  footer {
    border-top: 0.5px solid $color__borders;
    border-bottom: 0.5px solid $color__borders;
    padding-top: $vertical-rhythm;
    padding-bottom: $vertical-rhythm;
  }

  &__backtotop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: sticky;
      bottom: 4rem;
    z-index: 10;

    @include layout-columns() {
      bottom: 1rem;
    }

    a {
      @include ff-sans(true);
      background-color: palette('brand-teal-dark');
      border-radius: 50%;
      color: $white !important;
      display: flex;
      flex-flow: column;
      height: 3em;
      justify-content: center;
      margin: 0 1rem $vertical-rhythm 0;
      text-align: center;
      text-decoration: none;
      width: 3em;

      &:hover,
      &:focus {
        background-color: palette('brand-orange');
        color: palette('brand-teal-dark') !important;
      }
    }
  }
}