// Overrides for Home
.page--home {

  .property-card__title {
    // Here we use an H3 instead of an H2 so we lose some styles
    font-family: $font-stack__serif;
    font-weight: $font-custom__serif__bd-weight;
  }

  .anec__list__item {

    > a {
      display: block;
      float: right;
      margin-left: 1.5rem;
      max-width: 11em;
    }
  }

  .anec__list__item {
    border-bottom: 0.5px solid palette('gray-200');
    margin-bottom: ($vertical-rhythm * 0.5);
    padding: 0 0 ($vertical-rhythm * 0.5) 0;
  }

  .anec__dote {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0 0 0 1.5em;

    &__meta {
      display: block; // undo display: flex

      a {
        display: inline;
        margin-inline-end: 0.5em;
      }
      time {
        white-space: nowrap;
      }
    }
  }
}

// Custom for Home
.home {
  &__anec {
    background-color: $anecdote-bg;
  }
}
