//
// Property Cards across the site have two main configurations: 
//  - Vertical, like the nearby properties at the bottom of a single property page
//  - Vertical in mobile, then horizontal in Desktop, like in most lists
//  - Same as above, but part of a stack, like the Demolition Alerts on the homepage
//
// Common Markup for Cards
//
//<ul class="taxonomy__list u__list__unstyled u__vertical__pb" role="list">
//  <li class="taxonomy__item">
//    <div class="property-card">
//      <div class="property-card__img-wrap">
//        <img src="…" class="rwd-img" alt="" loading="lazy" decoding="async">
//      </div>
//      <div class="property-card__content">
//        <div class="property-card__clamp">
//          <div class="property-card__title-wrap">
//            <h3 class="h4 property-card__title">
//              <a href="…" class="property-card__link"><span class="property-card__card-title--new">NEW</span> TITLE</a>
//            </h3>
//          </div>
//          <p class="property-card__excerpt"><i>Added DATE:</i> DESCRIPTION</p>
//        </div>
//        <p class="property-card__meta"> … <span class="property-card__sep"> | </span></p>
//      </div>
//    </div>
//  </li>

.property-card {
  border: 0.5px solid $color__borders;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  position: relative;
  z-index: 1;

  // Hover the div to highlight the clickability it
  &:hover {
    // Image grows
    .rwd-img {
      opacity: 0.5;
      transform: scale(1.1, 1.1);
    }

    // Title gets a yellow highlight
    .property-card__title {
      background-size: 100% 100%;
    }
  }

  &__img-wrap {
    background-color: palette('brand-dark-brown');
    margin: -0.5rem -0.5rem ($vertical-rhythm * 0.5) -0.5rem;
    overflow: hidden;
    position: relative;
  
    // For mobile, the images are naturally sized according to their dimensions
    .rwd-img {
      opacity: 1;
      transition: all 250ms ease;
      transform: scale(1,1);
      transform-origin: center;
      transition-delay: 250ms;
      // When aspect-ratio is applied, one dimension needs to be set to auto. Height is auto in the reset.
      object-fit: cover;
      width: 100%;
    }
  }

  &__content {
    padding-bottom: ($vertical-rhythm * 0.5);
  }

  // Wrapper that limits the height of the card by using line-clamp
  &__clamp,
  &__clamp--essay {
    display: -webkit-box;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  // Essays are allowed to be longer
  &__clamp--essay {
    line-clamp: 6;
    -webkit-line-clamp: 6;
  }

  &__title-wrap {}

  &__title {
    background-image: linear-gradient(180deg,transparent 33%,lighten(palette('brand-yellow'), 5%) 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    display: inline;
    transition: all 750ms ease;

    &--new {
      font-size: 0.75em;
      font-style: italic;
      margin-right: 0.5rem;
    }
  }

  &__link {
    text-decoration: none;

    // https://inclusive-components.design/cards/
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    // Only works if JS is on
    &[data-visited="visited"]::after {
      content: '(Seen)';
      font-size: 0.75em;
      font-style: italic;
      letter-spacing: 0.0625em;
      margin-left: 0.375rem;
      text-decoration: underline;
      text-decoration-color: $color__link__underline;
      text-decoration-style: dashed;
    }
  }

  &__excerpt {
    padding-top: ($vertical-rhythm * 0.5);
  }

  &__meta {
    @include ff-sans();
    padding-top: ($vertical-rhythm * 0.5);
    position: relative;
    z-index: 3;

    &__group {}
  }

  &__distance {}

  // Grouped media query
  // When the container class is present, property cards are designed to be two column
  &__cols & {
    @include breakpoint-up(medium) {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: flex-start;
      margin-bottom: 1rem;
      padding: 1rem;

      // For column display, the images are forced to fill their column vertically
      &__img-wrap {
        flex: 1 0 40%;
        margin: -1rem 1rem -1rem -1rem;

        .rwd-img {
          aspect-ratio: unset;
          height: 100%;
          width: 100%;
          max-width: unset;
          object-fit: cover;
        }
      }

      &__content {
        flex: 1 0 60%;
        display: flex;
        flex-flow: column;
      }

      &__meta {
        margin-top: auto;

        &__group {
          white-space: nowrap;
        }
      }
    }

    @include breakpoint-up(x-large) {
      &__img-wrap {
        flex: 1 0 32%;
      }

      &__content {
        flex: 1 0 68%;
      }
    }
  }
}
