//<article class="l__article content__article">
//  <header class="taxonomy__header">
//    <div class="u__vertical__pt u__gutter__p">
//      <h1 class="content__title taxonomy__title u__mb--0">Category: #UsedToBeThere</h1>
//    </div>
//  </header>
//  <ul class="taxonomy__list u__list__unstyled u__vertical__pt u__gutter__p">
//    <li>
//      <img class="taxonomy__img" src="/property-img/132-fountain-st/old-mcd-bldg-01.jpg" alt="" loading="lazy">
//      <div class="taxonomy__colwrap">
//        <h2><a href="/property/132-fountain-st/" class="taxonomy__link">132 Fountain Street, Downtown Providence</a>
//        <p class="taxonomy__excerpt">A simple building located next to the former Sportsman’s Inn (now the Dean Hotel) that was razed for a never-built hotel.</p>
//        <p class="taxonomy__meta"><strong>Built: </strong> 1915<span class="taxonomy__sep"> | </span><strong>Demolition: </strong> 2008<span class="taxonomy__sep">|</span><strong>Decade: </strong> <a href="/decade/1910-1919">1910-1919</a></p>

.taxonomy {

  &__header {
    background: top right no-repeat url('../img/hashes-yellow-top-right.svg') transparent;
    background-size: ($hashes__width * 0.75) ($hashes__height * 0.75);
    
    @include breakpoint-up(medium) {
      background-size: $hashes__width $hashes__height;
    }
  }

  &__title {
    &--empty {
      @include ff-retro;
      color: palette('brand-red');
    }

    em {
      font-size: 0.625em;
    }
  }

  &__count {
    color: palette('brand-red');
    padding: $vertical-rhythm 0;
  }

  &__description,
  &__related {

    b {
      @include ff-sans();
      color: palette('brand-teal');
    }
  }

  &__list {

    li {
      border: 0.5px solid $color__borders;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      position: relative;
      z-index: 1;

      &:hover {
        .rwd-img {
          opacity: 0.5;
          transform: scale(1, 1) translate(-50%, -50%);
        }
        
        .taxonomy__card-title {
          background-size: 100% 100%;
        }
      }

      // Special LI with a class added to it
      &.taxonomy__random {
        display: block;

        img {
          padding-bottom: $vertical-rhythm;
        }

        .taxonomy__title-wrap,
        .taxonomy__meta {
          padding-bottom: ($vertical-rhythm/2);
        }
      }
    }

    // The homepage construction update
    // AND the nearby properties
    &--vertical {
      // Make the UL a grid container
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      grid-gap: 0;
  
      // Hide some elements
      .taxonomy__meta {
        display: none;
      }

      // Force a single vertical column
      li {
        display: block !important;
      }

      .taxonomy__img-wrap,
      .taxonomy__colwrap {
        flex: 0 1 100%;
        width: 100%;
      }

      .taxonomy__img-wrap {
        margin: 0 0 0.5rem;
        padding-bottom: 56.25%;
        max-width: 480px;
        min-height: unset;
      }

      // When there are only a specific number of them
      &--1,
      &--2 {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
      }

      &--4 {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      }
    }
  }

  &__img-wrap {
    background-color: palette('brand-dark-brown');
    margin: -0.5rem -0.5rem ($vertical-rhythm/2) -0.5rem;

    // Make the container a 16:9
    height: 0;
    overflow: hidden;
    padding-bottom: (9/16 * 100%);
    position: relative;

    .rwd-img {
      opacity: 1;
      transition: all 250ms ease;
      transform: scale(1.1, 1.1) translate(-50%, -50%);
      transform-origin: top left;
      transition-delay: 250ms;

      // position the image to the center
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  &__card-title {
    background-image: linear-gradient(180deg,transparent 33%,lighten(palette('brand-yellow'), 5%) 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    display: inline;
    transition: all 750ms ease;

    &--new {
      font-size: 0.75em;
      font-style: italic;
      margin-right: 0.5rem;
    }
  }

  &__link {
    text-decoration: none;

    // https://inclusive-components.design/cards/
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    // Only works if JS is on
    &[data-visited="visited"]::after {
      content: '(Seen)';
      font-size: 0.75em;
      font-style: italic;
      letter-spacing: 0.0625em;
      margin-left: 0.375rem;
      text-decoration: underline;
      text-decoration-color: $color__link__underline;
      text-decoration-style: dashed;
    }
  }

  &__clamp,
  &__clamp--essay {
    display: -webkit-box;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__clamp--essay {
    line-clamp: 6;
    -webkit-line-clamp: 6;
  }

  &__excerpt {
    padding-top: ($vertical-rhythm/2);
  }

  &__meta {
    @include ff-sans();
    padding-top: ($vertical-rhythm/2);
    position: relative;
    z-index: 3;

    &__group {}
  }

  // Grouped media query
  @include breakpoint-up(medium) {

    &__list {
      li {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
        margin-bottom: 1rem;
        padding: 1rem;
      }
    }

    &__img-wrap {
      flex: 0 1 40%;
      width: 40%;
      height: auto;
      margin: -1rem 2rem -1rem -1rem;
      padding-bottom: 25%;
      min-height: 25%;

      .rwd-img {
        min-height: 100%;
        min-width: 100%;
        max-width: unset;
        max-height: 125%;
      }
    }

    &__colwrap {
      flex: 0 1 60%;
      width: 60%;
      display: flex;
      flex-flow: column;
    }
    
    &__meta {
      margin-top: auto;

      &__group {
        white-space: nowrap;
      }
    }
  }
}

// Snipes
.snipe {
  position: absolute;
    top: 20%;
    left: -30%;
  transform: rotate(-45deg);
  width: 100%;
  z-index: 3;

  &--demolition {
    @include ff-sans(true);
    background-color: rgba(palette('brand-red'), 0.92);
    color: palette('brand-dark-brown');
    letter-spacing: $kerning;
    line-height: 1;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
  }
}
