//
// Property Cards across the site have two main configurations: 
//  - Vertical, like the nearby properties at the bottom of a single property page
//  - Vertical in mobile, then horizontal in Desktop, like in most lists
//  - Same as above, but part of a stack, like the Demolition Alerts on the homepage
//
// Common markup for Taxonomy pages (Categories, Tags, etc)
//
//<header class="taxonomy__header">
//  <div class="u__vertical__pt u__gutter__p">
//    <h1 class="content__title taxonomy__title u__mb--0"> TAXONOMY TITLE </h1>
//    <p class="taxonomy__count">XX properties</p>
//    <p class="taxonomy__description"> DESCRIPTION </p>
//  </div>
//</header>
//
// Common Markup for Cards
//
//<ul class="taxonomy__list u__list__unstyled u__vertical__pb" role="list">
//  <li class="taxonomy__item">
//    See property-card.scss
//  </li>

.taxonomy {

  // - - - - -
  // TAXONOMY PAGES
  // - - - - -

  &__header {
    background: top right no-repeat url('../img/hashes-yellow-top-right.svg') transparent;
    background-size: ($hashes__width * 0.75) ($hashes__height * 0.75);

    @include breakpoint-up(medium) {
      background-size: $hashes__width $hashes__height;
    }
  }

  &__title {
    // If there is ever a "Sorry, there are no items for that category" page
    &--empty {
      @include ff-retro;
      color: palette('brand-red');
    }

    em {
      font-size: 0.625em;
    }
  }

  &__count {
    color: palette('brand-red');
    padding: $vertical-rhythm 0;
  }

  &__description,
  &__related {

    b {
      @include ff-sans();
      color: palette('brand-teal');
    }
  }

  // - - - - -
  // TAXONOMY Lists
  // - - - - -

  /* li */&__item {

    // Special LI with a class added to it
    // Only on the homepage
    &--random {
      margin: 0 -1rem;
      padding: 0.5rem 0 1rem;
      position: relative;

      img {
        border-top: 1rem solid rgba(palette('brand-teal'), .1);
      }

      .property-card__content {
        background-color: rgba(palette('brand-teal'), .1);
        padding: 1rem;
      }
    }
  }

  // Types of cards
  // &__list {} Generic, vertical
  // &__grid {} Cards remain in vertical orientation and are displayed in a grid
  // &__stack {} A stack presents cards stacked on top of each other like playing cards being shuffled

  // The homepage construction update AND the nearby properties
  &__grid {
    // Make the UL a grid container
    display: grid;
    // This fits three across very nicely
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 0;

    li {
      margin-right: 0.5rem;
      max-width: rem(480); // this is the max width of the image thumbnails
    }

    // Force them all to be the same height
    li,
    .property-card,
    .property-card__content {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
    }

    // Change image properties
    .property-card__img-wrap {
      margin: -0.5rem -0.5rem 0;

      .rwd-img {
        aspect-ratio: 8 / 5;
      }
    }

    .property-card__content {
      padding-top: 0.625rem;
    }

    // Allow the distance, when present, to align at the bottom of the card
    .property-card__excerpt {
      margin-bottom: auto;
    }

    // When there are only a specific number of them
    // Make them larger to take up more space
    &--1,
    &--2 {
      grid-template-columns: repeat(auto-fit, minmax(24rem, 28rem));
    }

    // If exactly four, make them fit all in one row
    &--4 {
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
  }

}
