---
layout: home
type: page
permalink: /
title: "20 years of architectural change"
body-class: home
sitemap:
  priority: 0.9
  changefreq: 'weekly'
---
{%- assign properties = site.property | sort: "date-modified" | reverse -%}
{%- assign props = 0 -%}
{%- assign totalimg = 0 -%}
{%- for item in properties -%}
  {%- assign totalimg = totalimg | plus: item.images.size -%}
{%- endfor -%}
{%- assign anecdotes = site.data.anecdotes | sort: 'date' | reverse -%}

<section class="home__updates u__gutter__p">
  <p class="u__vertical__pb">We document the architectural landscape and collect the oral, written, and photographic history of important places in Rhode Island. We hope to be a safe space for storytelling, memory-sharing, and dreaming about the future of the built environment. <a href="{% link about.md %}">More about <span class="abbr">A.I.R.</span></a></p>

{%- assign demoalert = site.property | where: "categories", "#DemolitionAlert" | sort: "date-modified" | reverse -%}
{%- if demoalert.size >= 1 -%}
  <h2 class="o__title--sm v-rhythm">Demolition Alert</h2>
  <ul class="taxonomy__list u__list__unstyled u__vertical__pb" role="list">
    {%- for item in demoalert limit:2 -%}
      {% include property-card.html %}
    {%- endfor -%}
  </ul>
{%- endif -%}

  <h2 class="o__title--sm o__title__cta v-rhythm">Recently updated Properties <a href="/feed.xml" target="_blank"><span class="social__rss" aria-hidden="true"></span>Subscribe</a></h2>
  <ul class="taxonomy__list u__list__unstyled u__vertical__pb" role="list">
{%- for item in properties -%}
    <!-- property loop number {{ forloop.index }} -->
    {%- assign categories = item.categories -%}
    {%- capture is_demo_alert -%}
      {% if categories contains '#DemolitionAlert' %}Yes{% else %}No{% endif %}
    {%- endcapture -%}
  {% comment %}
    {% if is_demo_alert == 'Yes' %}
    <!-- is_demo_alert = Yes | item slug = {{ item.slug }} -->
    {% endif %}
  {% endcomment %}
    {%- capture is_under_construction -%}
      {% if categories contains '#WhatAreTheyBuilding' %}Yes{% else %}No{% endif %}
    {%- endcapture -%}
  {% comment %}
    {% if is_under_construction == 'Yes' %}
    <!-- is_under_construction = Yes | item slug = {{ item.slug }} -->
    {% endif %}
  {% endcomment %}
    {% if is_under_construction == 'Yes' %}
      {% comment %}
        If this item is WhatAreTheyBuilding, BUT there is an update, show it in the main river
      {% endcomment %}
      {%- capture is_under_construction -%}
        {% if item.update %}No{% else %}Yes{% endif %}
      {%- endcapture -%}
    {% comment %}
      {% if is_under_construction == 'Yes' %}
      <!-- is_under_construction = Yes AND there is no update |item slug = {{ item.slug }} -->
      {% endif %}
    {% endcomment %}
    {% endif %}
    {%- assign props = props | plus:1 -%}
      
    {%- if forloop.index == 9 -%}
      {% comment %}
      
        Insert a random artful image to break up the list
        We are breaking on the 8th time around the loop
        *Remember that when we get randprop, it is an array*
      
      
      
      {% assign random = site.time | date: "%s%N" | modulo: site.data.artful_architecture.size %}
      {% assign date = site.time | date: "%s%N" %}
      <!-- site.time = {{ site.time }} -->
      <!-- site.time | date: "%s%N" = {{ date }} -->
      <!-- site.data.artful_architecture.size = {{ site.data.artful_architecture.size }} -->
      <!-- random = {{ random }} -->
      {% endcomment %}
      
      {% assign minutes= site.time | date: "%H" | plus:100 %}
      <!-- minutes = {{ minutes }} -->
      {% assign random = site.time | plus: minutes | modulo: site.data.artful_architecture.size %}
      <!-- site.data.artful_architecture.size = {{ site.data.artful_architecture.size }} -->
      <!-- random = {{ random }} -->
      {% assign randprop = site.property | where: 'slug', site.data.artful_architecture[random].post %}
      <!-- random post = {{ site.data.artful_architecture[random].post }} -->
  <li class="taxonomy__random">
    <img src="{{ site.prod_url }}{{ site.propimg_path }}{{ randprop[0].slug }}/{{ site.data.artful_architecture[random].img }}" alt="" loading="eager" decoding="async">
    <p class="u__text__sans--bold"><span class="o__title--sm">The Art of Ruins</span> — This week’s artful image</p>
    <div class="taxonomy__title-wrap">
      <h3 class="taxonomy__card-title"><a href="/property/{{ randprop[0].slug }}/" class="taxonomy__link">{{ randprop[0].title }}</a></h3>
    </div>
        {%- if randprop[0].superlative -%}
    <p class="taxonomy__excerpt">
      {{ randprop[0].superlative }}
    </p>
        {%- endif -%}
    <p class="taxonomy__meta">
        {%- if randprop[0].categories.size > 0 -%}
          {%- for category in randprop[0].categories -%}
      <a href="{{ site.baseurl }}category/{{ category | replace: '.', '' | slugify }}/" title="More properties from this category">{{ category }}</a>{%- unless forloop.last -%}, {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}
      <span class="taxonomy__sep"> | </span>
        {%- if randprop[0].neighborhoods.size > 0 -%}
          {%- for neighborhood in randprop[0].neighborhoods -%}
      <a href="{{ site.baseurl }}neighborhood/{{ neighborhood | replace: '.', '' | slugify }}/" title="More properties from this neighborhood">{{ neighborhood }}</a>{%- unless forloop.last -%}, {%- endunless -%}
          {%- endfor -%}
        {%- else if -%}
          {%- if randprop[0].town.size > 0 -%}
      <a href="{{ site.baseurl }}town/{{ randprop[0].town | replace: '.', '' | slugify }}/" title="More properties from this town">{{ randprop[0].town }}</a>
      {%- endif -%}
        {%- endif -%}
        {%- if randprop[0].built.size > 0 -%}
      <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group">{% unless randprop[0].built contains "Proposed" %}<b>Built:</b> {% endunless %}{{ randprop[0].built }}</span>
        {%- endif -%}
        {%- if randprop[0].opened.size > 0 -%}
      <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Opened:</b> {{ randprop[0].opened }}</span>
        {%- endif -%}
        {%- if randprop[0].demolition.size > 0 -%}
      <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Demolition:</b> {{ randprop[0].demolition }}</span>
        {%- endif -%}
        {%- if randprop[0].closed.size > 0 -%}
      <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Closed:</b> {{ randprop[0].closed }}</span>
        {%- endif -%}
        {%- if randprop[0].decade.size > 0 -%}
      <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Decade:</b> <a href="{{ site.baseurl }}decade/{{ randprop[0].decade | replace: '.', '' | slugify }}/" title="More properties from this decade">{{ randprop[0].decade }}</a></span>
        {%- endif -%}
    </p>
  </li>
    {%- endif -%}
    {%- if forloop.index <= 18 and is_demo_alert == 'No' and is_under_construction == 'No' -%}
      {% assign home = 'Yes' %}
      {%- comment -%}
      <!-- in forloop (is_demo_alert == 'No' and is_under_construction == 'No') | item slug = {{ item.slug }} -->
      {%- endcomment -%}
      {% include property-card.html %}
    {%- endif -%}
{%- endfor -%}
  </ul>
{%- comment -%}
  
  Get all #WhatAreTheyBuilding properties and spit out a few under construction
  Challenge: Only output if they are LESS than a month old
    Epoch time: 30 days in seconds is 60s * 60m * 24h * 30d = 2592000
  If so, we presume that construction is still underway
  
  If there have an update, don’t show them here. Show them in the river above.
  So, we are filtering on DATE as well as whether or not item.update is present

{%- endcomment -%}
{%- assign construction = site.property | where: "categories", "#WhatAreTheyBuilding" | sort: "date-modified" | reverse -%}
{%- assign lastmonth = "now" | date: '%s' | minus: 3888000 | date: '%Y%m%d' | times:1 -%}
{%- assign construct_count = 0 -%}
{%- assign construct_html = '' -%}
{%- for item in construction -%}
  {% assign itemdate = item.date-modified | date: '%Y%m%d' | times:1 %}
  {% if itemdate > lastmonth %}
    {% if item.update %}
    {% else %}
      {% capture construct_html %}
        {{ construct_html }}
        {% include property-card.html %}
      {% endcapture %}
      {% assign construct_count = construct_count | plus: 1 %}
    {% endif %}
  {% endif %}
{%- endfor -%}
  <h2 class="o__title--sm v-rhythm">#WhatAreTheyBuilding: Under Construction</h2>
  <ul class="taxonomy__list taxonomy__list--vertical taxonomy__list--vertical--{{ construct_count }} u__list__unstyled u__vertical__pb" role="list">
    {{ construct_html }}
  </ul>

  <p class="u__vertical__pb"><span class="u__text__sans u__text__sans--bold u__text__to-upper u__color__primary">{{ props }} properties</span> and <span class="u__text__sans u__text__sans--bold u__text__to-upper u__color__primary">{% include humanize-numbers/index.html number=totalimg %} images</span>. {% if JEKYLL_ENV == 'production' %}Browse more from our <a href="{% link all-tags.html %}">Categories and Tags</a>.{% endif %}</p>
</section>
<section class="home__anec u__vertical__p u__gutter__p">
  <h2 class="o__title--sm o__title__cta v-rhythm">Anecdotes <a href="/anecdotes.xml" target="_blank"><span class="social__rss" aria-hidden="true"></span>Subscribe</a></h2>
  <p class="u__vertical__pb"><span class="u__text__sans u__text__sans--bold u__text__to-upper u__color__primary">{% include humanize-numbers/index.html number=anecdotes.size %} anecdotes</span> from people just like you.</p>
  <ul class="u__list__unstyled anec__list" role="list">
{%- for quote in anecdotes limit:8 -%}
  {%- assign property = site.property | where: 'slug', quote.property -%}
  {%- if property.first.thumbnail -%}
    {%- assign prop_img = property.first.thumbnail -%}
  {%- else -%}
    {%- assign prop_img = property.first.images.first.url -%}
  {%- endif -%}
    <li class="anec__list__item">
      <a href="{{ site.baseurl }}property/{{ property.first.slug }}#{{ quote.date | date: '%Y-%m-%d' }}" aria-hidden="true">
        {%- assign anec_image = site.propimg_path | replace_first: '/' | append: property.first.slug | append: '/' | append: prop_img -%}
        {%- assign size = '480' -%}
        {% responsive_image_block %}
          path: {{ anec_image }}
          image: {{ prop_img }}
          size: {{ size }}
          cache: true
        {% endresponsive_image_block %}
      </a>
      <figure class="anec__dote">
        <blockquote class="anec__dote__content">
          {{ quote.content | truncate: 280 }}
        </blockquote>
        <figcaption class="anec__dote__meta">
          <a href="{{ property.first.url }}#{{ quote.date | date: '%Y-%m-%d' }}"><cite>{{ quote.person }}</cite> on {{ property.first.title }}</a> <time datetime="{{ quote.date | date: "%Y-%m-%d" }}">{{ quote.date | date: "%e %B, %Y" }}</time>
        </figcaption>
      </figure>
    </li>
{%- endfor -%}
  </ul>
</section>
