---
layout: page
permalink: stats/
title: "Statistics"
meta-title: "Statistics | ArtInRuins"
body-class: stats
sitemap:
  priority: 0.6
  changefreq: 'weekly'
---

{%- assign properties = site.property | sort: "date-modified" | reverse -%}

              {%- assign date-added = site.pages | where: 'type', 'date-added' -%}
              <div class="all-tags__wrapper">
                <h2 class="all-tags__title">Properties by Year Added</h2>
                <ul class="all-tags__list">
                  {%- for thispage in date-added -%}
                    {%- assign collection = site.property | where: 'date-added', thispage.category -%}
                    <li><a class="all-tags__list__group" href="{{ '/' | relative_url }}{{ thispage.permalink }}"><span>{{ thispage.category }}</span> <span>{{ collection.size }}</span></a></li>
                  {%- endfor -%}
                  <li><div class="all-tags__list__group"><span>Total properties:</span> <span>{% include humanize-numbers/index.html number=properties.size %}</span></div></li>
                </ul>
              </div>

              {%- assign anecdotes = site.data.anecdotes | sort: 'date' | reverse -%}
              <div class="all-tags__wrapper">
                <h2 class="all-tags__title">Anecdotes</h2>
                <ul class="all-tags__list">
                  <li><div class="all-tags__list__group"><span>Total anecdotes:</span> <span>{% include humanize-numbers/index.html number=anecdotes.size %}</span></div></li>
                </ul>
              </div>

              {%- assign totalimg = 0 -%}
              {%- for item in properties -%}
                {%- assign totalimg = totalimg | plus: item.images.size -%}
              {%- endfor -%}
              <div class="all-tags__wrapper">
                <h2 class="all-tags__title">Images</h2>
                <ul class="all-tags__list">
                  <li><div class="all-tags__list__group"><span>Total images:</span> <span>{% include humanize-numbers/index.html number=totalimg %}</span></div></li>
                </ul>
              </div>

              {%- assign tags = site.pages | where: 'layout', 'taxonomy' | sort: "type" -%}
              <div class="all-tags__wrapper">
                <h2 class="all-tags__title">Taxonomy Pages</h2>
                <ul class="all-tags__list">
                {%- assign currenttype = tags.first.type -%}
                {%- assign totaltags = 0 -%}
                {%- for tag in tags -%}
                  {%- assign thistype = tag.type -%}
                  {%- if thistype != currenttype -%}
                  <li><div class="all-tags__list__group"><span>{{ currenttype | capitalize }}:</span> <span>{{ totaltags }}</span></div></li>
                    {%- assign currenttype = thistype -%}
                    {%- assign totaltags = 0 -%}
                  {%- endif -%}
                  {%- assign thistype = tag.type -%}
                  {%- assign totaltags = totaltags | plus: 1 -%}
                {%- endfor -%}
                </ul>
              </div>
