// https://github.com/Alex-D/Cookies-EU-banner

//<div id="cookies-eu-banner" class="cb" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc">
//  <p id="cookieconsent:desc" class="cb__description">You like cookies? We do, too! But if you don’t, you can opt out.</p>
//  <a href="/privacy-policy/" id="cookies-eu-more" class="cb__readmore">Read more</a>
//  <button id="cookies-eu-reject" class="cb__reject" aria-label="Do not allow cookies">Reject</button>
//  <button id="cookies-eu-accept" class="cb__accept" aria-label="Allow the use of cookies">Accept</button>
//</div>

.cb {
  background-color: palette('brand-brown');
  color: $white;
  padding: 1em;
  z-index: z(cookie-banner);
  
  .no-js & {
    display: none;
    visibility: hidden;
  }
  
  a {
    color: $white;
    text-decoration-color: palette('brand-orange');
  }
  
  &__description,
  &__readmore {
    display: inline;
  }
  
  &__description,
  &__readmore,
  .btn {
    margin-right: 0.75rem;
  }
  
  &__readmore {
    white-space: nowrap;
  }
  
  @include breakpoint-down(medium) {
    &__sep {
      display: block;
      margin-bottom: 1rem;
    }
  }
  
  @include breakpoint-up(medium) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    position: fixed;
      right: 0;
      bottom: 0;
  }
}
