.demolition-alert {
  background: repeating-linear-gradient(
    135deg,
    rgba(palette('brand-yellow'), 0.1),
    rgba(palette('brand-yellow'), 0.1) 1rem,
    rgba(palette('brand-yellow'), 0.25) 1rem,
    rgba(palette('brand-yellow'), 0.25) 2rem
  );
  border: 1.5px solid palette('brand-red') !important;
  
  .l--property-item & {
    margin-top: $vertical-rhythm;
    padding: $vertical-rhythm ($gutter-min * 1rem);
    
    h2,
    p {
      display: inline;
    }
    
    h2 {
      &::after {
        content: ' // ';
      }
    }
  }
}
