.item {

  /*article*/&__grid {
    @include jumper-switch() {
      display: grid;
      grid-template-columns: 20% 2rem calc(80% - 2rem);
      grid-template-rows: auto;
      grid-template-areas:
        "header header header"
        "gallery gallery gallery"
        "jumper . meta"
        "jumper . content";

      > header {
        grid-area: header;
      }

      .item__gallery {
        grid-area: gallery;
      }

      .jumper--in-content {
        grid-area: jumper;

        &__wrapper {
          padding-right: 0 !important;
        }
      }

      .item__meta,
      .item__content {
        padding-left: 0 !important;
      }

      .item__meta {
        grid-area: meta;
      }

      .item__content {
        grid-area: content;
      }
    }
  }

  &__title {

    &__wrap {
      background: bottom 0.075em right 0px no-repeat url('../img/hashes-yellow-bot-right.svg') transparent;
      background-size: ($hashes__width * 0.75) ($hashes__height * 0.75);
      margin-bottom: $vertical-rhythm;

      @include breakpoint-up(medium) {
        background-size: $hashes__width $hashes__height;
      }
    }
  }

  &__aka {
    color: palette('brand-red');
    font-weight: $font-custom__serif__rg-weight;
    padding-bottom: $vertical-rhythm;
  }

  &__excerpt {
    @include ff-sans(true);
    color: palette('brand-teal');
  }

  &__gallery {
    $image-right-margin: 1.5rem;

    background-color: palette('brand-grey');
    color: $white;

    // The figure element acts like a placeholder for lazyloaded images
    figure {
      height: 62vmin;
    }

    img {
      height: 100%;
      width: 100%;
    }

    /*ul*/&__wrap {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      overflow-x: scroll;

      // Scroll snapping
      scroll-snap-type: x mandatory;
      scroll-padding: 50%;

      // Scrollbar properties
      $scrollbar-color-thumb: palette('brand-orange');
      $scrollbar-color-track: palette('brand-dark-brown');
      $scrollbar-width: auto;
      $scrollbar-width-legacy: 0.75em;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        max-width: $scrollbar-width-legacy;
        max-height: $scrollbar-width-legacy;
        width: $scrollbar-width-legacy;
      }
      &::-webkit-scrollbar-thumb {
        background: $scrollbar-color-thumb;
      }
      &::-webkit-scrollbar-track {
        background: $scrollbar-color-track;
      }

      /* Modern browsers with `scrollbar-*` support */
      @supports (scrollbar-width: auto) {
        & {
          scrollbar-color: $scrollbar-color-thumb $scrollbar-color-track;
          scrollbar-width: $scrollbar-width;
        }
      }

      li {
        scroll-snap-align: center;
      }

      // These do not work for Ipad for some reason
      // I use a media query to target an iPad and undo them
      @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (-webkit-min-device-pixel-ratio: 1)  {
        scroll-snap-type: none;
        scroll-padding: 0;
      }
    }

    &__figure {
      display: block;
      position: relative; // for the screen reader text
      margin-right: $image-right-margin;

      a {
        display: block;
        position: relative;
        z-index: 2;

        &::before {
          content: '';
          background-color: rgba($black, 0.33);
          //background: center center no-repeat url('../img/maximize.svg') rgba($black, 0.33);
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='32px' height='32px' version='1.1' viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill='%23FFFFFF' d='M28,2h-6c-1.104,0-2,0.896-2,2s0.896,2,2,2h1.2l-4.6,4.601C18.28,10.921,18,11.344,18,12c0,1.094,0.859,2,2,2 c0.641,0,1.049-0.248,1.4-0.6L26,8.8V10c0,1.104,0.896,2,2,2s2-0.896,2-2V4C30,2.896,29.104,2,28,2z M12,18 c-0.641,0-1.049,0.248-1.4,0.6L6,23.2V22c0-1.104-0.896-2-2-2s-2,0.896-2,2v6c0,1.104,0.896,2,2,2h6c1.104,0,2-0.896,2-2 s-0.896-2-2-2H8.8l4.6-4.601C13.72,21.079,14,20.656,14,20C14,18.906,13.141,18,12,18z'/%3E%3C/svg%3E");
          background-position: center center;
          background-repeat: no-repeat;
          opacity: 0;
          height: em(48);
          width: em(48);
          position: absolute;
          top: 0;
          right: 0;
          transition: 250ms opacity ease;
          z-index: 3;
        }

        &:hover::before,
        &:focus::before {
          opacity: 1;
        }

        @media (hover: none) {
          &::before {
            opacity: 0.75;
          }
        }
      }
    }

    &__caption {
      @include sr-only;
    }

    &__credits {
      @include ff-sans(false);
      color: $white;
      @include fluid-units(
        'padding-top' 'padding-bottom',
        ($vertical-min * 0.5),
        ($vertical-max * 0.5),
        $spacing__min-vw,
        $spacing__max-vw
      );

      b {
        font-weight: $font-custom__sans__weight__bold;
      }

      a,
      a:visited {
        color: $white;
        text-decoration: underline !important;
        text-decoration-color: $white;
      }

      a {
        @include hover-focus() {
          text-decoration-color: palette('brand-orange');
        }

        &::after {
          height: 0;
          width: 0;
        }
      }
    }
  }

  &__external {
    padding-top: 1rem;
  }

  &__meta {
    &:empty {
      display: none;
    }
  }

  &__cats {
    $horiz-sp: 0.5em;
    $vert-sp: 0.375em;

    border-top: 0.5px solid $color__borders;
    border-right: 0.5px solid $color__borders;
    margin: 0 #{- $horiz-sp} !important;

    &__item {
      border-bottom: 0.5px solid $color__borders;
      border-left: 0.5px solid $color__borders;
      margin: 0 0 -0.5px -0.5px;
      padding: $horiz-sp $vert-sp;

      strong {
        @extend .o__title--sm;
        color: palette(gray-700);
      }

      a + a {
        margin-left: ($horiz-sp * 0.5);
      }
    }

    &__citation {

      summary {
        margin-bottom: 0;
      }

      abbr[title] {
        font-size: 100%;
      }

      input {
        @include ff-sans(false);
        font-size: 87.5%;
      }
    }

    @include breakpoint-up(large) {
      display: flex;
      align-items: stretch;
      flex-flow: row wrap;
      margin: 0;

      &__item {
        padding: 0.5em 0.75em;
        flex: 1 0 50%;
      }

      &__wide {
        flex: 1 0 100%;
      }
    }
  }

  &__mod {
    margin-top: $vertical-rhythm;
  }

  &__content {

    h3,
    h4,
    h5,
    p,
    li,
    dt,
    dd,
    hr {
      max-width: $max-width__text;
      margin-left: 0;
    }

    h3[id] a {
      span {
        top: 0.375rem;
      }
    }

    p {
      hanging-punctuation: first;
    }

    strong,
    b {
      // We use the serif font here, so, reset the font-weight for bold
      font-weight: $font-custom__serif__bd-weight;
    }

    blockquote p {
      hanging-punctuation: none;
    }

    // Footnotes
    sup[role="doc-noteref"] {
      font-size: inherit;
      vertical-align: baseline;
    }

    /*a*/.footnote {
      margin-left: 0.25em;

      &::before {
        content: '[';
      }
      &::after {
        content: ']';
      }
    }

    // Unset for some elements
    blockquote p:last-of-type::after {
      background: none;
      display: none;
    }
  }

  &__nearby {

    .taxonomy__card-title {
      // Here we use an H3 and an h5 class instead of an H2 so we lose some styles
      font-family: $font-stack__serif;
    }
  }

  &__mention {

    &__list {
      padding-bottom: $vertical-rhythm;
    }

    &__item {}

    li + li {
      border-top: 0.5px solid $color__borders;
      margin-top: ($vertical-rhythm * 0.5);
      padding-top: ($vertical-rhythm * 0.5);
    }

    &__source {}

    &__author {}
  }
}
