//<header class="l__head">
//  <div class="brand">
//    <a href="/" class="brand__logo" title="To Home page">ArtInRuins</a>
//    <p class="brand__tagline">Documenting Change since 2002</p>
//  </div>
//  <nav role="Primary">
//    <ul>
//      <li>
//        <a href="#">Architecture</a>
//        <ul>
//          <li><a href="#"><span class="u-sr-only">Archives Rhode Island</span><span aria-hidden="true">#ArchivesRI</span></a></li>
//          <li><a href="#"><span class="u-sr-only">Not In Ruins</span><span aria-hidden="true">#NotInRuins</span></a></li>
//          <li><a href="#"><span class="u-sr-only">Urban Decay</span><span aria-hidden="true">#UrbanDecay</span></a></li>
//          <li><a href="#"><span class="u-sr-only">Used To Be There</span><span aria-hidden="true">#UsedToBeThere</span></a></li>
//          <li><a href="#"><span class="u-sr-only">What Are They Building</span><span aria-hidden="true">#WhatAreTheyBuilding</span></a></li>
//          <li><a href="#">All Tags</a></li>
//        </ul>
//      </li>
//      <li><a href="#">About</a></li>

$nav-v-padding: 1rem;
$nav-h-padding: 1rem;
$nav-bg-color: palette('brand-teal-dark');
$nav-max-width: rem(288);

$text-logo-width: 235px;
$text-logo-height: 50px;

.brand {
  flex: 0 1 56px;
  padding: $nav-v-padding $nav-h-padding;
  
  &__logo {
    display: block;
    background: top center url('../img/artinruins-monogram.svg') transparent no-repeat;
    height: 25px;
    width: 55px;
    text-indent: -200%;
    overflow: hidden;
  }
  
  &__tagline {
    @include ff-retro;
    color: $white;
    font-size: 1.95vw;
    letter-spacing: 0.03125em;
    text-align: center;
    
    @include layout-columns(down) {
      @include sr-only;
    }
    
    @include breakpoint-up(x-large) {
      font-size: 1.45rem;
      max-width: $nav-max-width;      
    }
  }
  
  // Media queries
  @include breakpoint-up(small) {
    background-color: rgba($black, 0.1);
    
    &__logo {
      background-image: url('../img/artinruins-fulltext.svg');
      height: ($text-logo-height / 2);
      width: ($text-logo-width / 2);
    }
  }
  
  @include layout-columns() {
    background-position: bottom left;
    background-repeat: no-repeat;
    background-image: url('../img/hashes-brown-bot-left.svg');
    background-size: ($hashes__width * 0.75) ($hashes__height * 0.75);
    
    &__logo {
      height: 0;
      padding-top: ($text-logo-height/$text-logo-width * 100%);
      width: rem(210);
    }
    
    &__logo,
    &__tagline {
      max-width: $nav-max-width;
      text-align: left;
    }
  }
  
  @include breakpoint-up(x-large) {
    padding-top: ($nav-v-padding * 2);
    
    &__logo {
      margin: 0 auto;
      width: rem(260);
    }

    &__tagline {
      margin: 0 auto;
      text-align: center;
    }
  }
}

header {

  &.l__head {
    background-color: $nav-bg-color;
    
    @include layout-columns() {
      background: bottom right no-repeat url('../img/hashes-dteal-bot-right.svg') $nav-bg-color;
      background-size: $hashes__width $hashes__height;
    }
  }
  
  nav {
    @include ff-sans(true);
    
    // Scrollbar stuff for mobile
    @include layout-columns(down) {
      overflow-x: scroll;
      
      $scrollbar-width: 8px;
      $scrollbar-bg: lighten($nav-bg-color, 3%);
      $scrollbar-fg: darken($nav-bg-color, 3%);
      
      scrollbar-width: thin;
      scrollbar-color: $scrollbar-fg $scrollbar-bg;
      
      &::-webkit-scrollbar { width: $scrollbar-width; }
      &::-webkit-scrollbar-track { background-color: $scrollbar-bg; }
      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-fg;
        border-radius: ($scrollbar-width/2);
        border: 2px solid $scrollbar-bg; // "pushes" the edge of the thumb away from the edge of the track
      }
    }
    
    ul {
      @include layout-columns(down) {
        display: flex;
        flex-flow: row nowrap;
      }
      
      a {
        color: palette('brand-orange');
        padding: $nav-v-padding ($nav-h-padding/2) 0;
        white-space: nowrap;
        
        @include hover-focus {
          color: $white;
        }
      }
      
      ul,
      li {
        @include layout-columns(down) {
          display: flex;
          flex-flow: row nowrap;
        }
      }
      
      ul {
        
        a {
          color: palette('brand-yellow');
          font-weight: $font-custom__sans__weight__normal;
        }
      }
    
      a.active,
      a.active:hover,
      a.active:focus {
        cursor: default;
        color: lighten(palette('brand-teal'), 4%);
      }
    
      // Media queries for the entire block
      @include breakpoint-up(small) {
        padding: 0 ($nav-h-padding/2);
      }
    } // end ul
    
    @include layout-columns() {
      padding: $nav-v-padding $nav-h-padding;
      max-width: $nav-max-width;
      margin: 0 auto;
      
      & > ul {
        padding: 0;
        margin-left: - ($nav-h-padding/2);
      }
    }
  } // end nav
}

//<nav class="prev-next" aria-label="Property">
//  <a class="prev-next__prev" href="#"><span aria-hidden="true">&lt;</span><span class="prev-next__text">Previous</span><span class="u-sr-only"> property</span></a>
//  <a class="prev-next__next" href="#"><span class="prev-next__text">Next</span><span class="u-sr-only"> property</span><span aria-hidden="true">&gt;</span></a>
//  <span id="js-random"><a class="prev-next__surprise" href="#">Surprise Me <span aria-hidden="true">!</span></a></span>
//</nav>

.prev-next {
  background-color: $nav-bg-color;
  border-right: 1px solid rgba(#fff, .25);  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  
  @include layout-columns(down) {
    border-left: 1px solid rgba(#000, .25);
  }
  
  a {
    @include ff-sans(true);
    background-color: $nav-bg-color;
    border-right: 1px solid rgba(#000, .25);
    border-left: 1px solid rgba(#fff, .25);
    color: palette('brand-yellow');
    padding: ($nav-v-padding/2) $nav-h-padding;
    text-align: center;
    white-space: nowrap;
    
    span[aria-hidden="true"] {
      color: $white;
      
      @include breakpoint-up(small) {
        margin: 0 0.25em;
      }
    }
    
    @include hover-focus {
      color: $white;
      background-color: darken($nav-bg-color, 3%);
    }
  }
  
  & > a,
  & > span {
    flex: 2 1 33.33%;
    
    @include layout-columns() {
      flex: 0 1 auto;
    }
  }
  
  &__text {
    
    @include breakpoint-down(small) {
      @include sr-only;
    }
  }
}
