<section id="anecdote-form" class="anec__form__wrapper u__vertical__p u__gutter__p rhythm">
  <h2 class="o__title--sm anec__form__title">Leave an Anecdote</h2>
  <p>The information about each building grows as visitors let us know about their experiences. <i>Did you or a member of your family work here? Did you grow up near it as a child?</i> Let us know. All entries will be moderated and may be posted in an edited form. We will use your name unless you tell us otherwise. We will not make your email address public.</p>
  <p><a href="mailto:info@artinruins.com?subject=Anecdote about {{ page.title }}&amp;body=Name: [your name] and Anecdote:" class="btn btn--primary">Email your Anecdote</a></p>
  <p>Or, send an email to <input type="text" value="info@artinruins.com" readonly> and be sure to include your name as you want it displayed and which property you are commenting on.</p>
  <p><a href="#page-top">Back to Top</a></p>
</section>
