<footer class="l__footer sitefoot" aria-labelledby="air-contentinfo">
          <h2 id="air-contentinfo" class="o__title--sm u__sr-only">A Few Things About ArtInRuins</h2>
          <div class="sitefoot__wrapper">
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3>What is ArtInRuins?</h3>
              <p>ArtInRuins (<span class="abbr">A.I.R.</span>) started in 2002 to track the redevelopment and destruction of mill buildings in Providence. It expanded to include historic properties, new construction, homes, and other structures in northern RI. <a href="{% link about.md %}">More about <span class="abbr">A.I.R.</span></a> / <a href="{% link all-tags.html %}">All Topics & Tags</a></p>
              <p><a href="{{ '/' | relative_url }}contact/#attribution">Wondering how to attribute our photos</a>?</p>
            </div>
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3>How can I support <abbr title="ArtInRuins">A.I.R.</abbr>?</h3>
              <p>ArtInRuins is <i>not</i> a non-profit entity, but it does accept <a href="{% link support.md %}">monetary donations to support the infrastructure</a> (servers). <span class="abbr">A.I.R.</span> volunteers keep the information current and add more. Your anecdotes help tell the stories behind these places and why they are so important.</p>
              <p>Have photos to contribute? <a href="mailto:info@artinruins.com?subject=Photo submission for ArtInRuins" title="Email is your photos!">Submit them</a>.</p>
            </div>
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3><span role="text">Thank You <span class="u__sr-only">to our Sponsors</span></span></h3>
              <ul class="u__list__unstyled" role="list">
                <li>Donations from: Victoria D Lemont, Alice Lim, Anne Holland, Edward Power, Nancy Simone Harya, John Woolsey, & Roland Lavallee</li>
                <li><a href="https://www.smudgingthebinary.com/">Smudging the Binary</a></li>
                <li><a href="https://www.elizabethkeithline.com/">Elizabeth Keithline</a></li>
                <li><a href="https://www.taleenbatalian.com/">Taleen Batalian</a></li>
                <li><a href="https://www.fireiceglass.com/">Deborah Goldhaft</a></li>
                {% comment %}<li><a href="https://guide.ppsri.org/">PPS’s Providence Architecture Guide</a></li>
                <li><a href="https://marsella.us">Marsella Properties</a></li>{% endcomment %}
              </ul>
            </div>
          </div>
          <div class="sitefoot__copyright rhythm u__vertical__p u__gutter__p">
            <h3><span role="text"><span class="u__sr-only">Find us on </span>Social<span class="u__sr-only"> or subscribe to our</span><span aria-hidden="true"> and</span> Feeds</span></h3>
            <p>
              <a href="https://www.instagram.com/artinruins"><span class="social__instagram" aria-hidden="true"></span><span role="text"><span class="u__sr-only">Follow ArtInRuins on </span>Instagram</span></a>&nbsp;&nbsp; 
              <a href="https://www.facebook.com/artinruinsweb"><span class="social__facebook" aria-hidden="true"></span><span role="text"><span class="u__sr-only">Visit ArtInRuins on </span>Facebook</span></a>&nbsp;&nbsp; 
              <span class="social__rss" aria-hidden="true"></span>RSS: <a href="/feed.xml">Property Feed</a>, 
              <a href="/anecdotes.xml">Anecdotes Feed</a>
            </p>
            <p class="u__text__sans">
              <small>Most photos copyright &copy; 2002–{{ 'now' | date: '%Y' }} ArtInRuins unless otherwise noted. 
              Research and news clippings copyright their respective owners. Page last built {{ 'now' | date: "%Y-%m-%d %H:%M" }}.</small>
            </p>
            {% if page.body-class == 'home' %}
            <p class="u__text__sans">
              <small>A Jekyll-powered static site released as <a href="https://github.com/highchair/artinruins-com">open-source on Github</a> by <a href="https://github.com/jhogue" rel="me">J. Hogue</a>. All collected photos and historical information is archived and available.</small>
            </p>
            {% endif %}
            <p>A project by J. Hogue and Highchair designhaus. Made with ♥ in Providence, RI. No A.I. is used for photo creation. If A.I. is used for writing support, its final output is not used verbatim. <a href="{% link privacy-policy.md %}">Our privacy policy</a>.</p>
          </div>
        </footer>
