<footer class="l__footer sitefoot">
          <h2 class="o__title--sm u__sr-only">A Few Things About ArtInRuins</h2>
          <div class="sitefoot__wrapper">
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3>What is ArtInRuins?</h3>
              <p>ArtInRuins (A.I.R.) started in 2002 to track the redevelopment and destruction of mill buildings in Providence. It expanded to include historic properties, new construction, homes, and other structures. We love the history of these places and the fabric that they create throughout New England. <a href="{{ '/' | relative_url }}about/">More about A.I.R.</a></p>
            </div>
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3>How can I support <abbr title="ArtInRuins">A.I.R.</abbr>?</h3>
              <p>ArtInRuins is <i>not</i> a non-profit entity, but it does accept <a href="{{ '/' | relative_url }}support/">monetary donations to support the infrastructure</a> (servers). <abbr title="ArtInRuins">A.I.R.</abbr> volunteers keep the information current and add more. Your anecdotes help tell the stories behind these places and why they are so important. Have photos to contribute? <a href="mailto:info@artinruins.com?subject=Photo submission for ArtInRuins" title="Email is your photos!">Submit them</a>.</p>
            </div>
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3><span role="text">Thank You <span class="u__sr-only">to our Sponsors</span></span></h3>
              <ul class="u__list__unstyled" role="list">
                <li>Donations from: R Stoermer, Roland Lavallee</li>
                <li><a href="//ardisdata.com" target="_blank" title="Open in a new window">Ardis Data</a></li>
                <li><a href="//fireiceglass.com" target="_blank" title="Open in a new window">Fire &amp; Ice Glass</a></li>
                <li><a href="//marsellaproperties.com" target="_blank" title="Open in a new window">Marsella Properties</a></li>
                <li><a href="//svine.com" target="_blank" title="Open in a new window">Specialty Vehicles</a></li>
              </ul>
              
              <h3><span role="text"><span class="u__sr-only">Follow us on </span>Social</span></h3>
              <p><a href="//www.instagram.com/artinruins"><span role="text"><span class="u__sr-only">Follow ArtInRuins on </span>Instagram</span></a> | <a href="//www.facebook.com/artinruinsweb"><span role="text"><span class="u__sr-only">Visit ArtInRuins on </span>Facebook</span></a> | <a href="//www.twitter.com/artinruins"><span role="text"><span class="u__sr-only">Connect with ArtInRuins on </span>Twitter</span></a></p>
            </div>
          </div>
          <div class="sitefoot__copyright rhythm u__vertical__p u__gutter__p">
            <p class="u__text__sans">
              <small>Most photos copyright &copy; ArtInRuins unless otherwise noted. 
              Research and news clippings copyright their respective owners. </small>
              <!--Last page build <time datetime="{{ 'now' | date: '%FT%T%Z' }}">{{ 'now' | date: '%v %T %Z' }}</time>-->
            </p>
            <p>A project of J. Hogue and Highchair designhaus. Made in Providence RI. <a href="/privacy-policy/">Our privacy policy</a>,</p>
          </div>
        </footer>