<footer class="l__footer sitefoot">
          <h2 class="o__title--sm u__sr-only">A Few Things About ArtInRuins</h2>
          <div class="sitefoot__wrapper">
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3>What is ArtInRuins?</h3>
              <p>ArtInRuins (<span class="abbr">A.I.R.</span>) started in 2002 to track the redevelopment and destruction of mill buildings in Providence. It expanded to include historic properties, new construction, homes, and other structures in northern RI. <a href="{% link about.md %}">More about <span class="abbr">A.I.R.</span></a> / <a href="{% link stats.html %}">Statistics</a></p>
              <p><a href="{{ '/' | relative_url }}contact/#attribution">Wondering how to attribute our photos</a>?</p>
            </div>
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3>How can I support <abbr title="ArtInRuins">A.I.R.</abbr>?</h3>
              <p>ArtInRuins is <i>not</i> a non-profit entity, but it does accept <a href="{% link support.md %}">monetary donations to support the infrastructure</a> (servers). <span class="abbr">A.I.R.</span> volunteers keep the information current and add more. Your anecdotes help tell the stories behind these places and why they are so important. Have photos to contribute? <a href="mailto:info@artinruins.com?subject=Photo submission for ArtInRuins" title="Email is your photos!">Submit them</a>.</p>
            </div>
            <div class="sitefoot__section rhythm u__vertical__p u__gutter__p">
              <h3><span role="text">Thank You <span class="u__sr-only">to our Sponsors</span></span></h3>
              <ul class="u__list__unstyled" role="list">
                <li>Donations from: <a href="//twitter.com/phileil" target="_blank" title="Open in a new window">Philip Eil</a>, Marian Gray, R Stoermer, Roland Lavallee</li>
                <li><a href="//www.thedeaconphl.com/" target="_blank" title="Open in a new window">The Deacon, Philadelphia</a></li>
                <li><a href="//guide.ppsri.org" target="_blank" title="Open in a new window">PPS’s Providence Architecture Guide</a></li>
                <li><a href="//ardisdata.com" target="_blank" title="Open in a new window">Ardis Data</a></li>
                <li><a href="//fireiceglass.com" target="_blank" title="Open in a new window">Fire &amp; Ice Glass</a></li>
                <li><a href="//marsellaproperties.com" target="_blank" title="Open in a new window">Marsella Properties</a></li>
              </ul>
            </div>
          </div>
          <div class="sitefoot__copyright rhythm u__vertical__p u__gutter__p">
            <h3><span role="text"><span class="u__sr-only">Find us on </span>Social<span class="u__sr-only"> or subscribe to</span><span aria-hidden="true"> and</span> Feeds</span></h3>
            <p>
              <a href="//www.instagram.com/artinruins"><span class="social__instagram" aria-hidden="true"></span><span role="text"><span class="u__sr-only">Follow ArtInRuins on </span>Instagram</span></a>&nbsp;&nbsp; 
              <a href="//www.facebook.com/artinruinsweb"><span class="social__facebook" aria-hidden="true"></span><span role="text"><span class="u__sr-only">Visit ArtInRuins on </span>Facebook</span></a>&nbsp;&nbsp; 
              <a href="//www.twitter.com/artinruins"><span class="social__twitter" aria-hidden="true"></span><span role="text"><span class="u__sr-only">Connect with ArtInRuins on </span>Twitter</span></a>&nbsp;&nbsp; 
              <span class="social__rss" aria-hidden="true"></span>RSS/Atom: <a href="/feed.xml">Property Feed</a>,  
              <a href="/anecdotes.xml">Anecdotes Feed</a>
            </p>
            <p class="u__text__sans">
              <small>Most photos copyright &copy; 2002–{{ 'now' | date: '%Y' }} ArtInRuins unless otherwise noted. 
              Research and news clippings copyright their respective owners. </small>
            </p>
            <p>A project of J. Hogue and Highchair designhaus. Made with ♥ in Providence, RI. <a href="{% link privacy-policy.md %}">Our privacy policy</a>,</p>
          </div>
        </footer>
