{%- assign meta_title = site.title -%}
{%- assign meta_title_trailer = site.title | prepend: ' | ' -%}
{%- assign meta_description = site.description -%}
{%- assign meta_image = "artinruins-social-card.jpg" | prepend: site.image_path | prepend: site.baseurl -%}
{%- comment -%}

  Page Title, order of importance
  - By default, meta_title is the site title only
  - If this is a property item, form a title with the page.title and add the trailer
  - OR if this is a page with a title (as all should have), use that
  - If this page has a custom Meta title, use that instead (trumps all)

{%- endcomment -%}
{%- if page.path contains '_property' or page.path contains '_then-now' -%}
  {%- assign meta_title = page.title | append: meta_title_trailer -%}
{%- else if page.title -%}
  {%- assign meta_title = page.title -%}
  {%- if page.layout == 'taxonomy' -%}
    {%- assign meta_title = page.title | append: meta_title_trailer -%}
  {%- endif -%}
{%- endif -%}
{%- if page.meta-title -%}
  {%- assign meta_title = page.meta-title -%}
{%- endif -%}
{%- if page.meta -%}
  {%- assign meta_description = page.meta -%}
{%- endif -%}
{%- if page.excerpt -%}
  {%- assign meta_description = page.excerpt -%}
{%- endif -%}
{%- if page.description -%}
  {%- assign meta_description = page.description -%}
{%- endif -%}
{%- if page.images -%}
  {% assign folder = site.propimg_path %}
  {% if item.layout == 'then-now-item' %}
    {% assign folder = site.thennow_path %}
  {% endif %}
  {%- assign meta_image = page.images.first.url | prepend: '/' | prepend: page.slug | prepend: folder -%}
  {%- if page.thumbnail -%}
    {%- assign meta_image = page.thumbnail | prepend: '/' | prepend: page.slug | prepend: folder -%}
  {%- endif -%}
{%- endif -%}
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-817925-2"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-17D4B0M6BN"></script>
    <link rel="dns-prefetch" href="https://use.typekit.net">
    <link rel="dns-prefetch" href="https://webmention.io">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 12 updated Properties (RSS/Atom)" />
    <link href="/anecdotes.xml" type="application/rss+xml" rel="alternate" title="Latest 24 anecdotes (RSS/Atom)" />

    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_description | strip_html | truncate: 140 }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.prod_url }}{% unless page.url == '\' %}{{ page.url }}{% endunless %}">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description | strip_html | truncate: 140 }}">
    <meta property="og:image" content="{{ site.prod_url }}{{ meta_image }}">
    {% if page.categories %}<meta property="og:article:section" content="{{ page.categories.first | strip_html }}">{% endif %}
    {% if page.date-modified %}<meta property="og:article:modified_time" content="{{ page.date-modified }}">{% endif %}
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:site" content="@artinruins">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="artinruins.com">
    <meta property="twitter:url" content="{{ site.prod_url }}{% unless page.url == '\' %}{{ page.url }}{% endunless %}">
    <meta name="twitter:title" content="{{ meta_title }}">
    <meta name="twitter:description" content="{{ meta_description | strip_html | truncate: 140 }}">
    <meta name="twitter:image" content="{{ site.prod_url }}{{ meta_image }}">
    
    <!-- Icons and Theme -->
    <link rel="icon" type="image/png" sizes="any" href="{{ site.prod_url }}assets/favicons/favicon-32x32.png">
    <link rel="icon" href="{{ site.prod_url }}assets/favicons/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ site.prod_url }}assets/favicons/apple-touch-icon.png">
    <link rel="manifest" href="{{ site.prod_url }}assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ site.prod_url }}assets/favicons/safari-pinned-tab.svg" color="#007070">
    <meta name="msapplication-config" content="{{ site.prod_url }}assets/favicons/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#007070">
    <meta name="theme-color" content="#007070">
    {% if page.body-class == 'home' %}
    <link href="https://twitter.com/artinruins" rel="me authn">
    {% endif %}
    
    <!-- Webmentions -->
    <link rel="webmention" href="https://webmention.io/artinruins.com/webmention">
    <link rel="pingback" href="https://webmention.io/artinruins.com/xmlrpc">
    {% comment %}
      Looking for analytics? JS lazy loads it only when the user opts in
    {% endcomment %}
  </head>
