{%- assign meta_title = site.title -%}
{%- assign meta_title_trailer = site.title | prepend: ' | ' -%}
{%- assign meta_title_truncate = 60 | minus: meta_title_trailer.size -%}
{%- assign meta_description = site.description -%}
{%- assign meta_image = "artinruins-social-card.jpg" | prepend: site.image_path | prepend: site.baseurl -%}
{%- comment -%}
  
  Page Title, order of importance
  - By default, meta_title is the site title only
  - If this is a property item, form a title with the page.title and add the trailer
  - OR if this is a page with a title (as all should have), use that
  - If this page has a custom Meta title, use that instead (trumps all)

{%- endcomment -%}
{%- if page.path contains '_property' -%}
  {%- assign meta_title = page.title | truncate: meta_title_truncate | append: meta_title_trailer -%}
{%- else if page.title -%}
  {%- assign meta_title = page.title -%}
  {%- if page.layout == 'taxonomy' -%}
    {%- assign meta_title = page.title | truncate: meta_title_truncate | append: meta_title_trailer -%}
  {%- endif -%}
{%- endif -%}
{%- if page.meta-title -%}
  {%- assign meta_title = page.meta-title -%}
{%- endif -%}
{%- if page.meta -%}
  {%- assign meta_description = page.meta -%}
{%- endif -%}
{%- if page.excerpt -%}
  {%- assign meta_description = page.excerpt -%}
{%- endif -%}
{%- if page.description -%}
  {%- assign meta_description = page.description -%}
{%- endif -%}
{%- if page.images -%}
  {%- assign meta_image = page.images.first.url | prepend: '/' | prepend: page.slug | prepend: site.propimg_path -%}
  {%- if page.thumbnail -%}
    {%- assign meta_image = page.thumbnail | prepend: '/' | prepend: page.slug | prepend: site.propimg_path -%}
  {%- endif -%}
{%- endif -%}
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://use.typekit.net">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    
    <title>{{ meta_title }}</title>
    <meta name="twitter:site" content="@artinruins">
    <meta name="description" content="{{ meta_description | strip_html | truncate: 140 }}">
    <meta property="og:image" content="{{ site.url }}{{ meta_image }}">
    {%- if page.categories -%}<meta property="og:article:section" content="{{ page.categories.first | strip_html }}">{%- endif -%}
    {%- if page.date-modified -%}<meta property="og:article:modified_time" content="{{ page.date-modified }}">{%- endif -%}     
    
    <link rel="stylesheet" type="text/css" href="{{ '/' | relative_url }}assets/css/main.css?{{ "now" | date: "%Y%m%d-%H%M" }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/' | relative_url }}assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/' | relative_url }}assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/' | relative_url }}assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ '/' | relative_url }}assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ '/' | relative_url }}assets/favicons/safari-pinned-tab.svg" color="#007070">
    <meta name="msapplication-config" content="{{ '/' | relative_url }}assets/favicons/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#007070">
    <meta name="theme-color" content="#007070">
    {%- if page.body-class == 'home' -%}
    <link href="https://twitter.com/artinruins" rel="me authn">
    {%- endif -%}
    {%- comment -%}
      Looking for analytics? JS lazy loads it only when the user opts in
    {%- endcomment -%}
  </head>
