{%- assign items = site.property | where: page.type, page.category | sort: "title" -%}

            <header class="taxonomy__header">
              <div class="u__vertical__pt u__gutter__p">
                <h1 class="content__title taxonomy__title u__mb--0">{{ page.title }}</h1>
              {%- if items.size >= 1 -%}
                <p class="taxonomy__count">{{ items.size }}{% if items.size == 1 %} property{% else %} properties{% endif %}</p>
              {%- endif -%}
              {%- if page.related.size > 0 -%}
                <p class="taxonomy__related">
                  <b>Related designers:</b>
                  {% for related in page.related %}
                    {%- assign length = forloop.length -%}
                    {%- assign secondtolast = length | minus: 1 -%}
                  <a href="/designer/{{ related | replace: '.', '' | slugify }}/">{{ related }}</a>{% unless forloop.last %}{% if length > 2 %}, {% endif %}{% endunless %}{% if forloop.index == secondtolast %} and {% endif %}
                  {% endfor %}
                </p>
              {%- endif -%}
              {%- if page.description -%}
                <p class="taxonomy__description">{{ page.description }}</p>
              {%- endif -%}
              </div>
            </header>

          {%- if items.size >= 1 -%}
            <ul class="taxonomy__list u__list__unstyled u__vertical__p u__gutter__p" role="list">
              {%- for item in items -%}
                {% include property-card.html %}
              {% endfor %}
            </ul>
          {%- else -%}
            <div class="u__vertical__p u__gutter__p">
              <p class="h2 taxonomy__title--empty">Sorry, no properties were found.</p>
            </div>
          {%- endif -%}
