{%- assign categories = item.categories -%}
    <li{% if categories contains '#DemolitionAlert' %} class="demolition-alert"{% endif %}>
      {%- if item.thumbnail -%}
        {%- assign item_image = item.thumbnail -%}
      {%- else -%}
        {%- assign item_image = item.images.first.url -%}
      {%- endif -%}
      {%- if item_image.size > 0 -%}
      <div class="taxonomy__img-wrap">
        {%- if categories contains '#DemolitionAlert' -%}
        <div class="snipe snipe--demolition">Demolition Alert</div>
        {%- endif -%}
        {%- assign image_path = site.propimg_path | replace_first: '/' | append: item.slug | append: '/' | append: item_image -%}
        {%- assign size = '800' -%}
        {% responsive_image_block %}
          path: {{ image_path }}
          image: {{ item_image }}
          size: {{ size }}
          cache: true
        {% endresponsive_image_block %}
      </div>
      {%- endif -%}
      <div class="taxonomy__colwrap">
        <div class="taxonomy__title-wrap">
          <h2 class="h4 taxonomy__card-title"><a href="{{ site.baseurl }}property/{{ item.slug }}" class="taxonomy__link">{{ item.title }}</a></h2>
        </div>
        <p class="taxonomy__excerpt">
          {%- if item.lists contains "Capital Center Parcels" -%}
            {%- if item.parcel.size > 0 -%}
            <span class="taxonomy__meta__group"><b>Parcel {{ item.parcel }}: </b></span>
            {%- endif -%}
          {%- endif -%}
          {% if home == "Yes" %}<span class="js-humanize-date"><i>Updated {{ item.date-modified | date: "%e %B, %Y" }}:</i></span> {% endif %}
          {%- if page.type == 'tags' and page.category == "The Superlatives" -%}
            {{ item.superlative }}
          {%- elsif categories contains '#DemolitionAlert' or home == "Yes" and item.update -%}
            {{ item.update }}
          {%- else -%}
            {{ item.excerpt }}
          {%- endif -%}
        </p>
        <p class="taxonomy__meta">
        {%- if item.categories.size > 0 -%}
          {%- for category in item.categories -%}
          <a href="{{ site.baseurl }}category/{{ category | replace: '.', '' | slugify }}" title="More properties from this category">{{ category }}</a>{%- unless forloop.last -%}, {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}
      {%- if page.type != 'neighborhoods' -%}
          <span class="taxonomy__sep"> | </span>
        {%- if item.neighborhoods.size > 0 -%}
          {%- for neighborhood in item.neighborhoods -%}
          <a href="{{ site.baseurl }}neighborhood/{{ neighborhood | replace: '.', '' | slugify }}" title="More properties from this neighborhood">{{ neighborhood }}</a>{%- unless forloop.last -%}, {%- endunless -%}
          {%- endfor -%}
        {%- else if -%}
          {%- if item.town.size > 0 -%}
          <a href="{{ site.baseurl }}town/{{ item.town | replace: '.', '' | slugify }}" title="More properties from this town">{{ item.town }}</a>
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
        {%- if item.tags contains "Never Built" -%}
          <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Never Built</b></span>
        {%- endif -%}
        {%- if item.built.size > 0 -%}
          <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group">{% unless item.built contains "Proposed" %}<b>Built:</b> {% endunless %}{{ item.built }}</span>
        {%- endif -%}
        {%- if item.opened.size > 0 -%}
          <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Opened:</b> {{ item.opened }}</span>
        {%- endif -%}
        {%- if item.demolition.size > 0 -%}
          <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Demolition:</b> {{ item.demolition }}</span>
        {%- endif -%}
        {%- if item.closed.size > 0 -%}
          <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Closed:</b> {{ item.closed }}</span>
        {%- endif -%}
        {%- if item.redeveloped.size > 0 -%}
          <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Redeveloped:</b> {{ item.redeveloped }}</span>
        {%- endif -%}
        {%- if item.decade.size > 0 -%}
          <span class="taxonomy__sep"> | </span><span class="taxonomy__meta__group"><b>Decade:</b> <a href="{{ site.baseurl }}decade/{{ item.decade | replace: '.', '' | slugify }}" title="More properties from this decade">{{ item.decade }}</a></span>
        {%- endif -%}
      {%- if page.type == 'lists' -%}
        {%- if item.added-to-NRHP.size > 0 -%}
          <br><b>Added to <abbr title="National Register of Historic Places">NRHP</abbr>:</b> {{ item.added-to-NRHP }}
        {%- endif -%}
        {%- if item.NRHP-ref-number.size > 0 -%}
          <span class="taxonomy__sep"> | </span><b><abbr title="National Register of Historic Places">NRHP</abbr> Reference Number:</b> {{ item.NRHP-ref-number }}
        {%- endif -%}
      {%- endif -%}
        </p>
      </div>
    </li>
