{% comment %} If cachebusting is needed: ?bust={{ 'now' | date: '%Y%m%d%H%M%S' }} {% endcomment %} 
    <script defer src="/assets/js/global.js?cb=20240505-1510"></script>
{%- if page.layout == 'property-item' -%}
    <script defer src="/assets/js/all-properties.js"></script>
    <script defer src="/assets/js/property.js?cb=20240505-1510"></script>
{%- endif -%}
{%- if page.layout == 'then-now-item' -%}
    <script defer src="/assets/js/all-properties.js"></script>
    <script defer src="/assets/js/thennow.js"></script>
{%- endif -%}
{%- if page.layout == 'essay-item' -%}
    <script defer src="/assets/js/property.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const lazyLoadInstance = new LazyLoad({
          container: document.querySelector(".l__article"),
          elements_selector: ".js-lazy"
        });
      });
    </script>
{%- endif -%}