// Utilities
.u {
  
  //Screen Reader
  // A mixin but also a utility class
  &__sr-only {
    @include sr-only;
  }
  
  &__sr-only--focusable {
    @include sr-only-focusable;
  }
  
  // Max width
  &__max-width {
    &--text {
      margin: 0 auto;
      max-width: $max-width__text;
    }
    &--container {
      max-width: $max-width__container;
    }
  }
  
  // Lists
  &__list {
    &__unstyled {
      list-style: none;
      margin-left: 0;
    }
  }
  
  // Inline anything
  &__inline {
    display: inline !important;
  }
  
   // Text
  &__text {
    &__small {
      font-size: calc(var(--fs__sm) * 1rem);
      letter-spacing: ($kerning * 2);
    }
    
    &__sans {
      @include ff-sans();
      
      &--bold {
        @include ff-sans(bold);
      }
    }
    
    &__to-upper {
      letter-spacing: ($kerning * 2);
      text-transform: uppercase;
    }
  
    // Text alignment
    &__center {
      text-align: center;
    }
  }
  
  // Images
  &__img {
    
    figcaption {
      font-size: calc(var(--fs__sm) * 1rem);
      letter-spacing: ($kerning * 2);
      padding-top: 0.5rem;
    }
    
    &--right {
      @include fluid-units('margin-left', $gutter-min, $gutter-max, $min-vw, $max-vw, 1rem, false);
      
      @include breakpoint-up(small) {
        float: right;
        margin-bottom: 1rem;
        max-width: 45%;
      }
    }
    
    &--left {
      @include fluid-units('margin-right', $gutter-min, $gutter-max, $min-vw, $max-vw, 1rem, false);
      
      @include breakpoint-up(small) {
        float: left;
        margin-bottom: 1rem;
        max-width: 45%;
      }
    }
  }

  // Colors
  &__color {
    &__primary {
      color: palette('brand-teal');
    }

    &__secondary {
      color: palette('brand-brown');
    }

    &__violator {
      color: palette('brand-red');
    }
  }

  // Background colors
  &__bg__light {
    background-color: rgba(palette('brand-yellow'), .5);
  }

  // Columns
  &__text-columns {
    column-width: 280px;
    column-gap: 1rem;

    p + p {
      margin-top: 1rem;
    }
  }

  // Spacing
  // .u__p--0
  // .u__px--0
  &__p {
    &--0 { padding: 0; }
    &t--0, &x--0 { padding-top: 0 !important; }
    &b--0, &x--0 { padding-bottom: 0 !important; }
    &l--0, &y--0 { padding-left: 0 !important; }
    &r--0, &y--0 { padding-right: 0 !important; }
  }

  &__m {
    &--0 { margin: 0; }
    &t--0, &x--0 { margin-top: 0 !important; }
    &b--0, &x--0 { margin-bottom: 0 !important; }
    &l--0, &y--0 { margin-left: 0 !important; }
    &r--0, &y--0 { margin-right: 0 !important; }
  }
}
