---
layout: default
---
{% assign anecdotes = site.data.anecdotes | where: 'property', page.slug %}
{% assign anecdotes = anecdotes | orderby: "date" %}

        <nav class="prev-next" aria-label="Property">
          {%- comment -%} Store the index of this property out of ALL properties {%- endcomment -%}
          {%- assign properties = site.property | sort: "title" -%}
          {%- for property in properties -%}
            {%- if property.title == page.title -%}
              {%- assign item_index = forloop.index -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
          {%- if item_index -%}
            {%- assign prev_index = item_index | minus: 1 -%}
            {%- assign next_index = item_index | plus: 1 -%}
            {%- comment -%} Loop again, this time, find the items with the prev and next indices {%- endcomment -%}
            {%- comment -%} Can this be done with assign prev = property[prev_index] ?? {%- endcomment -%}
            {%- for property in properties -%}
              {%- if forloop.index == prev_index -%}
                {%- assign prev = property -%}
              {%- endif -%}
              {%- if forloop.index == next_index -%}
                {%- assign next = property -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
          {% if prev %}<a id="gtm-prev-trigger" class="prev-next__prev" href="{{ prev.url }}" title="{{ prev.title }}"><span aria-hidden="true">&lt;</span><span class="prev-next__text">Previous</span><span class="u__sr-only"> property</span></a>{% endif %}
          {% if next %}<a id="gtm-next-trigger" class="prev-next__next" href="{{ next.url }}" title="{{ next.title }}"><span class="prev-next__text">Next</span><span class="u__sr-only"> property</span><span aria-hidden="true">&gt;</span></a>{% endif %}
          <span id="js-random"></span>
        </nav>

        <nav id="jump-nav" class="jumper jumper--top" aria-label="Page">
          {% include property-item/jump-menu.html %}
        </nav>

        <main id="content" class="l__content content item" aria-label="Content">
          <article class="l__article item__grid" aria-label="Primary Property">
            <header>
              <div class="item__title__wrap u__vertical__pt u__gutter__p">
                <h1 class="content__title item__title u__mb--0">{{ page.title }}</h1>
              </div>
              <div class="u__vertical__pb u__gutter__p">
                {% if page.aka %}<p class="h6 item__aka">also known as {{ page.aka }}</p>{% endif %}
                {% if page.excerpt %}<p class="item__excerpt">{{ page.excerpt }}</p>{% endif %}
                {%- if page.categories contains '#DemolitionAlert' -%}
                  {%- if page.update -%}
                <div class="demolition-alert">
                  <h2 class="o__title--sm">#DemolitionAlert</h2>
                  <p>{{ page.update }}</p>
                </div>
                  {%- endif -%}
                {%- endif -%}
              </div>
            </header>
            <div id="gallery" class="item__gallery">
              <h2 class="o__title--sm item__gallery__title u__sr-only">{{ forloop.length }} images of this Property</h2>
            {%- for image in page.images -%}
              {%- if forloop.first -%}
              <ul class="u__list__unstyled u__vertical__p u__gutter__p item__gallery__wrap js-scrolling-panel">
              {%- endif -%}
              {%- assign imageslug = image.url | split: '.' -%}
              {%- assign imagesrc = site.prod_url | append: site.propimg_path | append: page.slug | append: '/' | append: image.url -%}
              {%- assign imagesrclocal = site.propimg_path | append: page.slug | append: '/' | append: image.url -%}
              {%- if image.sizes -%}
                {%- assign imagessizes = image.sizes | split: ',' -%}
              {%- endif -%}
                <li id="photo-{{ imageslug[0] }}">
                  <figure class="item__gallery__figure">
                    <a data-fslightbox="air-lightbox" data-type="image" {% if image.caption %}data-caption="{{ image.caption }}"{% endif %} href="{{ imagesrc }}" role="button" aria-label="Larger view of image">
                      <img class="js-lazy" {% if forloop.index > 4 %}data-{% endif %}src="{{ imagesrc }}" alt="{% if image.alt %}{{ image.alt }}{% endif %}" {% if image.sizes %}width="{{ imagessizes[0] | strip }}" height="{{ imagessizes[1] | strip }}"{% else %}{% imagesize imagesrclocal:props %}{% endif %} />
                    </a>
                    {%- if image.caption -%}
                    <figcaption class="item__gallery__caption">
                      <cite>{{ image.caption }}</cite>
                    </figcaption>
                    {%- endif -%}
                  </figure>
                </li>
              {%- if forloop.last -%}
              </ul>
              <div class="u__vertical__pb u__gutter__p item__gallery__credits">
                <p><b>{{ forloop.length }} images:</b> <small>Press to view larger or scroll sideways to see more. {{ page.imagescredit }}</small></p>
            {%- if page.external.size > 0 -%}
                <p class="item__external"><small>Copyright prevents the display of these images:</small>
                {%- for external in page.external -%}
                  {%- unless forloop.first %}, {%- endunless -%}
                  <a href="{{ external.url }}" target="_blank">{{ external.source }}</a>
                {%- endfor -%}
                </p>
          {%- endif -%}
              </div>
              {%- endif -%}
            {%- endfor -%}
            </div>
{%- comment -%}
  {%- if page.latitude and page.longitude -%}
    <iframe width="420" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openlinkmap.org/small.php?lat={{ page.latitude }}&lon={{ page.longitude }}&zoom=16" style="border: 1px solid black"></iframe>
    <p class="map"><a href="https://www.openstreetmap.org/#map=16/{{ page.latitude }}/{{ page.longitude }}" target="_blank">Open Street Map</a></p>
  {%- else if page.gmap -%}
    <p class="map"><a href="{{ page.gmap }}" target="_blank">Google Map</a></p>
  {%- endif -%}
{%- endcomment -%}
            <footer id="meta" class="item__meta u__vertical__p u__gutter__p">
              <h2 class="o__title--sm item__meta__title u__sr-only">Details of this Property</h2>
              <ul class="item__cats u__list__unstyled">
                <li class="item__cats__item item__cats__location">
                {%- if page.address.size > 0 -%}
                  <strong>Address:</strong> 
                  {% if page.gmap.size > 0 %}<a href="{{ page.gmap }}" target="_blank" rel="nofollow" title="Open Google Maps in a new window"><span class="u__sr-only">Open a Google map of </span>{% endif %}{{ page.address }}{% if page.gmap.size > 0 %}</a>{% endif %}<br>
                {%- endif -%}
                {%- assign neighborhoods = page.neighborhoods -%}
                {%- if neighborhoods.size > 0 -%}
                  <strong>Neighborhood{% if neighborhoods.size >= 2 %}s{% endif %}: </strong>
                  {%- for neighborhood in neighborhoods -%}
                  <a href="/neighborhood/{{ neighborhood | replace: '.', '' | slugify }}/"><span class="u__sr-only">Neighborhood of </span>{{ neighborhood }}</a>{% unless forloop.last %}, {% endunless %}<br>
                  {%- endfor -%}
                {%- endif -%}
                {%- if page.town.size > 0 -%}
                  <strong>Town{% if page.town.size >= 2 %}s{% endif %}: </strong>
                  {%- for town in page.town -%}
                  <a href="/town/{{ town | replace: '.', '' | slugify }}/"><span class="u__sr-only">Town of </span>{{ town }}</a>{% unless forloop.last %}, {%- endunless -%}
                  {%- endfor -%}
                {%- endif -%}
                </li>
                <li class="item__cats__item item__cats__duration">
                {%- if page.built.size > 0 -%}
                  <strong>Built: </strong> {{ page.built }}<br>
                {%- endif -%}
                {%- if page.opened.size > 0 -%}
                  <strong>Opened: </strong> {{ page.opened }}<br>
                {%- endif -%}
                {%- if page.decade.size > 0 -%}
                  <strong>Decade Built: </strong> <a href="/decade/{{ page.decade | replace: '.', '' | slugify }}/"><span class="u__sr-only">Built between </span>{{ page.decade }}</a><br>
                {%- endif -%}
                {%- if page.demolition.size > 0 -%}
                  <strong>Demolition: </strong> {% if page.demolition.size <= 8 %}<a href="/demolition/{{ page.demolition | replace: '.', '' | slugify }}/"><span class="u__sr-only">Demolished in </span>{{ page.demolition }}</a>{% else %}{{ page.demolition }}{% endif %}<br>
                {%- endif -%}
                {%- if page.closed.size > 0 -%}
                  <strong>Closed: </strong> {{ page.closed }}<br>
                {%- endif -%}
                {%- if page.redeveloped.size > 0 -%}
                  <strong>Redeveloped: </strong> {{ page.redeveloped }}<br>
                {%- endif -%}
                {%- if page.date-added.size > 0 -%}
                  <strong>Date Added: </strong> <a href="/date-added/{{ page.date-added | replace: '.', '' | slugify }}/"><span class="u__sr-only">Added in </span>{{ page.date-added }}</a>
                {%- endif -%}
                </li>
                {%- assign designers = page.designers -%}
                {%- if designers.size > 0 -%}
                <li class="item__cats__item item__cats__designers">
                  <strong>Designer{% if designers.size >= 2 %}s{% endif %}: </strong>
                  {%- for designer in designers -%}
                    {%- assign length = forloop.length -%}
                    {%- assign secondtolast = length | minus: 1 -%}
                  <a href="/designer/{{ designer | replace: '.', '' | slugify }}/"><span class="u__sr-only">Designer </span>{{ designer }}</a>{% unless forloop.last %}{% if length > 2 %},{% endif %}{% endunless %}{% if forloop.index == secondtolast %} and{% endif %}
                  {%- endfor -%}
                </li>
                {%- endif -%}
                  {%- assign lists = page.lists -%}
                  {%- assign categories = page.categories -%}
                  {%- assign tags = page.tags -%}
                <li class="item__cats__item item__cats__cats">
                  {%- if categories.size > 0 -%}
                  <p><strong>{% if categories.size >= 2 %}Categories{% else %}Category{% endif %}: </strong>
                    {%- for category in categories -%}
                    <a href="/category/{{ category | replace: '.', '' | slugify }}/"><span class="u__sr-only">Category </span>{{ category }}</a>{% unless forloop.last %}, {% endunless %}
                    {%- endfor -%}
                  </p>
                </li>
                {%- endif -%}
                {%- if tags.size > 0 -%}
                <li class="item__cats__item item__cats__tags{% if tags.size >= 3 %} item__cats__wide{% elsif page.superlative.size > 0 %} item__cats__wide{% endif %}">
                  <p><strong>Tag{% if tags.size > 1 %}s{% endif %}: </strong>
                    {%- for tag in tags -%}
                    <a href="/tag/{{ tag | replace: '.', '' | slugify }}/"><span class="u__sr-only">Tag </span>{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {%- endfor -%}
                    {%- if page.superlative.size > 0 -%}
                    <br><strong>Superlative: </strong> {{ page.superlative }}
                    {%- endif -%}
                  </p>
                </li>
                {%- endif -%}
                {%- if lists.size > 0 -%}
                <li class="item__cats__item item__cats__lists{% if lists.size >= 3 %} item__cats__wide{% endif %}"><strong>List{% if lists.size >= 2 %}s{% endif %}: </strong>
                  {%- for list in lists -%}
                    {%- assign length = forloop.length -%}
                    {%- assign secondtolast = length | minus: 1 -%}
                  <a href="/list/{{ list | replace: '.', '' | slugify }}/"><span class="u__sr-only">List </span>{{ list }}</a>{% unless forloop.last %}{% if length > 2 %},{% endif %}{% endunless %}{% if forloop.index == secondtolast %} and{% endif %}
                  {%- endfor -%}
                </li>
                {%- endif -%}
                <li class="item__cats__item item__cats__citation">
                  <details class="rhythm">
                    <summary>Citations & Reference URLs</summary>
                    <p><a href="//web.archive.org/save/https://artinruins.com{{ page.url }}" target="_blank" rel="nofollow noreferrer">Create a reference to this current page version with Archive.org</a>
                    </p>
                    <p><label for="cite"><abbr title="Modern Language Association">MLA</abbr>- and <abbr title="Chicago Manual of Style">CMS</abbr>-style Citation:</label> <input id="cite" type="text" readonly class="form__input form__input--text form__input--readonly" value="ArtInRuins & public sources. “Property: {{ page.title }},” ArtInRuins.com, updated {{ page.date-modified | date: "%B %e, %Y" }}, https://artinruins.com{{ page.url }}. Accessed {{ 'now' | date: '%B %e, %Y' }}." />
                      <span class="form__input--help">Select all and copy citation</span>
                    </p>
                  </details>
                </li>
              </ul>
              <p class="item__mod"><strong class="u__text__small u__text__sans u__text__sans--bold u__text__to-upper">Last Date Modified:</strong> {{ page.date-modified | date: "%B %e, %Y" }}</p>
            </footer>
            <div id="description" class="item__content rhythm u__vertical__pb u__gutter__p">
              <h2 class="o__title--sm item__content__title">About <span class="u__sr-only">this Property</span></h2>
              {%- include property-item/content-anchors.html
                html=page.content
                beforeHeading=true
                anchorAttrs='aria-hidden="true"'
                anchorBody='<span>#</span>'
                h_min=3
                h_max=3
              -%}

            </div>
          </article>
        </main>

        <aside id="js-nearby" class="content item__nearby u__gutter__p" data-latitude="{{ page.latitude }}" data-longitude="{{ page.longitude }}" aria-label="Nearby Properties">
        </aside>

        <aside id="anecdotes" class="anec" aria-label="Anecdotes">
          {%- if anecdotes.size > 0 -%}
          <div class="u__vertical__p u__gutter__p">
            <h2 class="o__title--sm anec__title"><span role="text">{{ anecdotes.size }} Anecdote{% if anecdotes.size > 1 %}s{% endif %} <span class="u__sr-only">from people like you</span></span></h2>
            <ul class="u__list__unstyled anec__list" role="list">
            {%- for anecdote in anecdotes -%}
              <li id="{{ anecdote.date | date: "%Y-%m-%d" }}" class="anec__list__item">
                <figure class="anec__dote">
                  <blockquote class="anec__dote__content">
                    {{ anecdote.content | markdownify }}
                  </blockquote>
                  <figcaption class="anec__dote__meta">
                    <cite>{{ anecdote.person }}</cite> <time datetime="{{ anecdote.date | date: "%Y-%m-%d" }}">{{ anecdote.date | date: "%B %e, %Y" }}</time>
                  </figcaption>
                </figure>
              </li>
            {%- endfor -%}
            </ul>
          </div>
          {%- endif -%}

          <section id="add-your-anecdote" class="u__vertical__p u__gutter__p rhythm anec__form__wrapper">
            <h2 class="o__title--sm anec__form__title">Leave an Anecdote</h2>
            <p>The information about each building grows as visitors let us know about their experiences. Did you or a member of your family work here? Did you grow up near it as a child? Let us know. All entries will be moderated and may be posted in an edited form. We will use your name unless you tell us otherwise. <i>We will not make your email public</i>.</p>
            <form id="anecdote-form" name="anecform" method="POST" action="/assets/partials/mailer.php" class="form anec__form">
              <input type="hidden" id="property" name="property" value="{{ page.slug }}">
              <div id="js__insert-form">
                <button id="js__load-form" type="button" class="btn btn--primary">Load the Anecdote form</button>
              </div>
            </form>
            <a href="#page-top" class="back-to-top">Back to Top</a>
          </section>
        </aside>
