---
layout: default
---
{% assign anecdotes = site.data.anecdotes | where: 'property', page.slug %}
{% assign anecdotes = anecdotes | orderby: "date" %}

        <nav class="prev-next" aria-label="Property">
          {%- comment -%} Store the index of this property out of ALL properties {%- endcomment -%}
          {%- assign properties = site.property | sort: "title" -%}
          {%- for property in properties -%}
            {%- if property.title == page.title -%}
              {%- assign item_index = forloop.index -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
          {%- assign prev_index = item_index | minus: 1 -%}
          {%- assign next_index = item_index | plus: 1 -%}
          
          {%- comment -%} Loop again, this time, find the items with the prev and next indices {%- endcomment -%}
          {%- for property in properties -%}
            {%- if forloop.index == prev_index -%}
              {%- assign prev = property -%}
            {%- endif -%}
            {%- if forloop.index == next_index -%}
              {%- assign next = property -%}
            {%- endif -%}
          {%- endfor -%}
          {% if prev %}<a class="prev-next__prev" href="{{ site.baseurl }}property/{{ prev.slug }}" title="{{ prev.title }}"><span aria-hidden="true">&lt;</span><span class="prev-next__text">Previous</span><span class="u__sr-only"> property</span></a>{% endif %}
          {% if next %}<a class="prev-next__next" href="{{ site.baseurl }}property/{{ next.slug }}" title="{{ next.title }}"><span class="prev-next__text">Next</span><span class="u__sr-only"> property</span><span aria-hidden="true">&gt;</span></a>{% endif %}
          <span id="js-random"></span>
        </nav>

        <nav id="jump-nav" class="jumper jumper--top" aria-label="Page">
          {% include property-item/jump-menu.html %}
        </nav>

        <main id="content" class="l__content content item">
          <article class="l__article item__grid">
            <header>
              <div class="item__title__wrap u__vertical__pt u__gutter__p">
                <h1 class="content__title item__title u__mb--0">{{ page.title }}</h1>
              </div>
              <div class="u__vertical__pb u__gutter__p">
                {%- if page.aka -%}<p class="h6 item__aka">also known as {{ page.aka }}</p>{%- endif -%}
                {%- if page.excerpt -%}<p class="item__excerpt">{{ page.excerpt }}</p>{%- endif -%}
                {%- if page.categories contains '#DemolitionAlert' -%}
                <div class="demolition-alert">
                  <h2 class="o__title--sm">#DemolitionAlert</h2>
                  <p>{{ page.update }}</p>
                </div>
                {%- endif -%}
              </div>
            </header>
            <div id="gallery" class="item__gallery">
              <h2 class="o__title--sm item__gallery__title u__sr-only">Images of this Property</h2>
            {%- for image in page.images -%}
              {%- if forloop.first -%}
              <ul class="u__list__unstyled u__vertical__p u__gutter__p item__gallery__wrap">
              {%- endif -%}
                <li id="photo-{{ forloop.index }}">
                  <figure class="item__gallery__figure">
                    <a data-fslightbox="air-lightbox" data-type="image" {%- if image.caption -%}data-caption="{{ image.caption }}"{%- endif -%} href="{{ site.propimg_path }}{{ page.slug }}/{{ image.url }}" role="button" aria-label="Link opens image in a larger pop-over">
                      <img src="{{ site.propimg_path }}{{ page.slug }}/{{ image.url }}" alt="{%- if image.alt -%}{{ image.alt }}{%- endif -%}" loading="{% if forloop.first == true %}eager{% else %}lazy{% endif %}" />
                    </a>
                    {%- if image.caption -%}
                    <figcaption class="item__gallery__caption">
                      <cite>{{ image.caption }}</cite>
                    </figcaption>
                    {%- endif -%}
                  </figure>
                </li>
              {%- if forloop.last -%}
              </ul>
              <div class="u__vertical__pb u__gutter__p item__gallery__credits">
                <p><b>{{ forloop.length }} images:</b> <small>Press to view larger or scroll sideways to see more. {{ page.imagescredit }}</small></p>
            {%- if page.external.size > 0 -%}
                <p class="item__external"><small>Copyright prevents the display of these images:</small> 
                {% for external in page.external %}
                  {% unless forloop.first %}, {%- endunless %}
                  <a href="{{ external.url }}" target="_blank">{{ external.source }}</a>
                {% endfor %}
                </p>
          {%- endif -%}
              </div>
              {%- endif -%}
            {%- endfor -%}
            </div>
{%- comment -%}
  {%- if page.latitude and page.longitude -%}
    <iframe width="420" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openlinkmap.org/small.php?lat={{ page.latitude }}&lon={{ page.longitude }}&zoom=16" style="border: 1px solid black"></iframe>
    <p class="map"><a href="https://www.openstreetmap.org/#map=16/{{ page.latitude }}/{{ page.longitude }}" target="_blank">Open Street Map</a></p>
  {%- else if page.gmap -%}
    <p class="map"><a href="{{ page.gmap }}" target="_blank">Google Map</a></p>
  {%- endif -%}
{%- endcomment -%}
            <footer id="meta" class="item__meta u__vertical__p u__gutter__p">
              <h2 class="o__title--sm item__meta__title u__sr-only">Details of this Property</h2>
              <ul class="item__cats u__list__unstyled">
                <li class="item__cats__item item__cats__location">
                {%- if page.address.size > 0 -%}
                  <strong>Address: </strong> 
                  {%- if page.gmap.size > 0 -%}<a href="{{ page.gmap }}" target="_blank" rel="nofollow" title="Open Google Maps in a new window">{%- endif -%}{{ page.address }}{%- if page.gmap.size > 0 -%}</a>{%- endif -%}<br>
                {%- endif -%}
                {%- assign neighborhoods = page.neighborhoods -%}
                {%- if neighborhoods.size > 0 -%}
                  <strong>{%- if neighborhoods.size >= 2 -%}Neighborhoods{%- else -%}Neighborhood{%- endif -%}: </strong> 
                  {%- for neighborhood in neighborhoods -%}
                  <a href="{{ site.baseurl }}neighborhood/{{ neighborhood | replace: '.', '' | slugify }}">{{ neighborhood }}</a>{%- unless forloop.last -%}, {%- endunless -%}<br>
                  {%- endfor -%}
                {%- endif -%}
                {%- if page.town.size > 0 -%}
                  <strong>{%- if page.town.size >= 2 -%}Towns{%- else -%}Town{%- endif -%}: </strong> 
                  {%- for town in page.town -%}
                  <a href="{{ site.baseurl }}town/{{ town | replace: '.', '' | slugify }}">{{ town }}</a>{%- unless forloop.last -%}, {%- endunless -%}
                  {%- endfor -%}
                {%- endif -%}
                </li>
                <li class="item__cats__item item__cats__duration">
                {%- if page.built.size > 0 -%}
                  <strong>Built: </strong> {{ page.built }}<br>
                {%- endif -%}
                {%- if page.decade.size > 0 -%}
                  <strong>Decade Built: </strong> <a href="{{ site.baseurl }}decade/{{ page.decade | replace: '.', '' | slugify }}">{{ page.decade }}</a><br>
                {%- endif -%}
                {%- if page.demolition.size > 0 -%}
                  <strong>Demolition: </strong> {%- if page.demolition.size <= 8 -%}<a href="{{ site.baseurl }}demolition/{{ page.demolition | replace: '.', '' | slugify }}">{{ page.demolition }}</a>{%- else -%}{{ page.demolition }}{%- endif -%}<br>
                {%- endif -%}
                {%- if page.redeveloped.size > 0 -%}
                  <strong>Redeveloped: </strong> {{ page.redeveloped }}<br>
                {%- endif -%}
                {%- if page.date-added.size > 0 -%}
                  <strong>Date Added: </strong> <a href="{{ site.baseurl }}date-added/{{ page.date-added | replace: '.', '' | slugify }}">{{ page.date-added }}</a>
                {%- endif -%}
                </li>
                {%- assign designers = page.designers -%}
                {%- if designers.size > 0 -%}
                <li class="item__cats__item item__cats__designers"><strong>{%- if designers.size >= 2 -%}Designers{%- else -%}Designer{%- endif -%}: </strong> 
                  {%- for designer in designers -%}
                  <a href="{{ site.baseurl }}designer/{{ designer | replace: '.', '' | slugify }}">{{ designer }}</a>{%- unless forloop.last -%}, {%- endunless -%}
                  {%- endfor -%}</li>
                {%- endif -%}
                {%- assign lists = page.lists -%}
                {%- if lists.size > 0 -%}
                <li class="item__cats__item item__cats__lists"><strong>{%- if lists.size >= 2 -%}Lists{%- else -%}List{%- endif -%}: </strong> 
                  {%- for list in lists -%}
                  <a href="{{ site.baseurl }}list/{{ list | replace: '.', '' | slugify }}">{{ list }}</a>{%- unless forloop.last -%}, {%- endunless -%}
                  {%- endfor -%}</li>
                {%- endif -%}
                {%- assign categories = page.categories -%}
                {%- if categories.size > 0 -%}
                <li class="item__cats__item item__cats__cats"><strong>{%- if categories.size >= 2 -%}Categories{%- else -%}Category{%- endif -%}: </strong> 
                  {%- for category in categories -%}
                  <a href="{{ site.baseurl }}category/{{ category | replace: '.', '' | slugify }}">{{ category }}</a>{%- unless forloop.last -%}, {%- endunless -%}
                  {%- endfor -%}</li>
                {%- endif -%}
                {%- assign tags = page.tags -%}
                {%- if tags.size > 0 -%}
                <li class="item__cats__item item__cats__tags"><strong>{%- if tags.size > 1 -%}Tags{%- else -%}Tag{%- endif -%}: </strong> 
                  {%- for tag in tags -%}
                  <a href="{{ site.baseurl }}tag/{{ tag | replace: '.', '' | slugify }}">{{ tag }}</a>{%- unless forloop.last -%}, {%- endunless -%}
                  {%- endfor -%}</li>
                {%- endif -%}
                <li class="item__cats__item item__cats__perma"><a href="//perma.cc" title="Perma.cc is a service that archives the internet and creates a Permalink that will last forever" target="_blank" rel="nofollow noreferrer">Use Perma.cc to create a link to this article… permanently</a></li>
              </ul>
              <p class="item__mod"><strong class="u__text__small u__text__sans u__text__sans--bold u__text__to-upper">Last Date Modified:</strong> {{ page.date-modified | date: "%B %e, %Y" }}</p>
            </footer>
            <div id="description" class="item__content rhythm u__vertical__pb u__gutter__p">
              <h2 class="o__title--sm item__content__title">About <span class="u__sr-only">this Property</span></h2>
              {%- include property-item/content-anchors.html 
                html=page.content 
                beforeHeading=true 
                anchorTitle="Press to bookmark this heading" 
                anchorBody="<span>#</span>"
                h_min=3
                h_max=3
              -%}
              
            </div>
          </article>
        </main>

        <aside id="anecdotes" class="anec">
          {% if anecdotes.size > 0 %}
            {% assign anecdotes_text = 'Anecdote' %}
            {% if anecdotes.size > 1 %}
              {% assign anecdotes_text = 'Anecdotes' %}
            {% endif %}
          <div class="u__vertical__p u__gutter__p">
            <h2 class="o__title--sm anec__title"><span role="text">{{ anecdotes.size }} {{ anecdotes_text }} <span class="u__sr-only">from people like you</span></span></h2>
            <ul class="u__list__unstyled anec__list" role="list">
            {% for anecdote in anecdotes %}
              <li id="{{ anecdote.date | date: "%Y-%m-%d" }}" class="anec__list__item">
                <figure class="anec__dote">
                  <blockquote class="anec__dote__content">
                    {{ anecdote.content | markdownify }}
                  </blockquote>
                  <figcaption class="anec__dote__meta">
                    <cite>{{ anecdote.person }}</cite> <time datetime="{{ anecdote.date | date: "%Y-%m-%d" }}">{{ anecdote.date | date: "%B %e, %Y" }}</time>
                  </figcaption>
                </figure>
              </li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
          
          {% include anecdote-email.html %}
        </aside>
