---
layout: default
---

<nav class="prev-next" aria-label="Property">
  {%- comment -%} Store the index of this property out of ALL properties {%- endcomment -%}
  {%- assign properties = site.then-now | sort: "title" -%}
  {%- for property in properties -%}
    {%- if property.title == page.title -%}
      {%- assign item_index = forloop.index -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if item_index -%}
    {%- assign prev_index = item_index | minus: 1 -%}
    {%- assign next_index = item_index | plus: 1 -%}
    {%- comment -%} Loop again, this time, find the items with the prev and next indices {%- endcomment -%}
    {%- for property in properties -%}
      {%- if forloop.index == prev_index -%}
        {%- assign prev = property -%}
      {%- endif -%}
      {%- if forloop.index == next_index -%}
        {%- assign next = property -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {% if prev %}<a id="gtm-prev-trigger" class="prev-next__prev" href="{{ prev.url }}" title="{{ prev.title }}"><span aria-hidden="true">&lt;</span><span class="prev-next__text">Previous</span><span class="u__sr-only"> property</span></a>{% endif %}
  {% if next %}<a id="gtm-next-trigger" class="prev-next__next" href="{{ next.url }}" title="{{ next.title }}"><span class="prev-next__text">Next</span><span class="u__sr-only"> property</span><span aria-hidden="true">&gt;</span></a>{% endif %}
  <span id="js-random"></span>
</nav>

<main id="content" class="l__content content item">
  <article class="l__article item__grid">
    <header>
      <div class="item__title__wrap u__vertical__pt u__gutter__p">
        <h1 class="content__title item__title u__mb--0">{{ page.title }}</h1>
      </div>
      <div class="u__vertical__pb u__gutter__p">
      {% if page.property_slug %}
        {% assign property = site.property | where: 'slug', page.property_slug %}
        <p class="h6 item__aka">Visit the full property: <a href="{{ property.first.url }}">{{ property.first.title }}</a></p>
      {% endif %}
        {% if page.excerpt %}<p class="item__excerpt">{{ page.excerpt }}</p>{% endif %}
      </div>
    </header>
    <div id="gallery" class="item__gallery">
      <h2 class="o__title--sm item__gallery__title u__sr-only">Images of this Property</h2>
    {% for image in page.images %}
      {%- if forloop.first -%}
      <figure class="u__list__unstyled u__vertical__p u__gutter__p juxtapose__wrap">
      {%- endif -%}
        <div class="thennow" style="aspect-ratio: {{ image.thennow_pair[0].sizes }}">
          <div class="thennow__resize" style="left: 50%"><span></span></div>
          <div class="thennow__clip" style="width: 50%">
            <div class="thennow__then" style="background-image: url({{ site.thennow_path | append: page.slug | append: '/' | append: image.thennow_pair[0].url }})">
              <div class="thennow__label">{{ image.thennow_pair[0].year }}</div>
            </div>
          </div>
          <div class="thennow__now" style="background-image: url({{ site.thennow_path | append: page.slug | append: '/' | append: image.thennow_pair[1].url }})">
            <div class="thennow__label">{{ image.thennow_pair[1].year }}</div>
          </div>
        </div>
      {%- if forloop.last -%}
      </figure>
      <div class="u__vertical__pb u__gutter__p item__gallery__credits">
        <p><b>{{ forloop.length }} Then/Now pairing:</b> <small>Slide the vertical bar to see the then (left) versus the now (right). {{ page.imagescredit }}</small></p>
      </div>
      {%- endif -%}
    {% endfor %}
    </div><!-- end .gallery -->

    <footer id="meta" class="item__meta u__vertical__p u__gutter__p">
      <h2 class="o__title--sm item__meta__title u__sr-only">Details of this Property</h2>
      <ul class="item__cats u__list__unstyled">
        <li class="item__cats__item item__cats__location">
        {%- if page.address.size > 0 -%}
          <strong>Address: </strong>
          {% if page.gmap.size > 0 %}<a href="{{ page.gmap }}" target="_blank" rel="nofollow" title="Open Google Maps in a new window">{% endif %}{{ page.address }}{% if page.gmap.size > 0 %}</a>{% endif %}<br>
        {%- endif -%}
        {%- assign neighborhoods = page.neighborhoods -%}
        {%- if neighborhoods.size > 0 -%}
          <strong>Neighborhood{% if neighborhoods.size >= 2 %}s{% endif %}: </strong>
          {%- for neighborhood in neighborhoods -%}
          <a href="/neighborhood/{{ neighborhood | replace: '.', '' | slugify }}/">{{ neighborhood }}</a>{% unless forloop.last %}, {% endunless %}<br>
          {%- endfor -%}
        {%- endif -%}
        {%- if page.town.size > 0 -%}
          <strong>Town{% if page.town.size >= 2 %}s{% endif %}: </strong>
          {%- for town in page.town -%}
          <a href="/town/{{ town | replace: '.', '' | slugify }}/">{{ town }}</a>{% unless forloop.last %}, {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}
        </li>
        <li class="item__cats__item item__cats__duration">
        {%- if page.built.size > 0 -%}
          <strong>Built: </strong> {{ page.built }}<br>
        {%- endif -%}
        {%- if page.opened.size > 0 -%}
          <strong>Opened: </strong> {{ page.opened }}<br>
        {%- endif -%}
        {%- if page.decade.size > 0 -%}
          <strong>Decade Built: </strong> <a href="/decade/{{ page.decade | replace: '.', '' | slugify }}/">{{ page.decade }}</a><br>
        {%- endif -%}
        {%- if page.demolition.size > 0 -%}
          <strong>Demolition: </strong> {% if page.demolition.size <= 8 %}<a href="/demolition/{{ page.demolition | replace: '.', '' | slugify }}/">{{ page.demolition }}</a>{% else %}{{ page.demolition }}{% endif %}<br>
        {%- endif -%}
        {%- if page.closed.size > 0 -%}
          <strong>Closed: </strong> {{ page.closed }}<br>
        {%- endif -%}
        {%- if page.redeveloped.size > 0 -%}
          <strong>Redeveloped: </strong> {{ page.redeveloped }}<br>
        {%- endif -%}
        {%- if page.date-added.size > 0 -%}
          <strong>Date Added: </strong> <a href="/date-added/{{ page.date-added | replace: '.', '' | slugify }}/">{{ page.date-added }}</a>
        {%- endif -%}
        {%- assign lists = page.lists -%}
        {%- assign categories = page.categories -%}
        {%- assign tags = page.tags -%}
        {%- if categories.size > 0 -%}
          <p><strong>{% if categories.size >= 2 %}Categories{% else %}Category{% endif %}: </strong>
            {%- for category in categories -%}
            <a href="/category/{{ category | replace: '.', '' | slugify }}/">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {%- endfor -%}
          </p>
        </li>
        {%- endif -%}
        {%- if tags.size > 0 -%}
        <li class="item__cats__item item__cats__tags{% if tags.size >= 3 %} item__cats__wide{% elsif page.superlative.size > 0 %} item__cats__wide{% endif %}">
          <p><strong>Tag{% if tags.size > 1 %}s{% endif %}: </strong>
            {%- for tag in tags -%}
            <a href="/tag/{{ tag | replace: '.', '' | slugify }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
            {%- endfor -%}
            {%- if page.superlative.size > 0 -%}
            <br><strong>Superlative: </strong> {{ page.superlative }}
            {%- endif -%}
          </p>
        </li>
        {%- endif -%}
        {%- if lists.size > 0 -%}
        <li class="item__cats__item item__cats__lists{% if lists.size >= 3 %} item__cats__wide{% endif %}"><strong>List{% if lists.size >= 2 %}s{% endif %}: </strong>
          {%- for list in lists -%}
            {%- assign length = forloop.length -%}
            {%- assign secondtolast = length | minus: 1 -%}
          <a href="/list/{{ list | replace: '.', '' | slugify }}/">{{ list }}</a>{% unless forloop.last %}{% if length > 2 %},{% endif %}{% endunless %}{% if forloop.index == secondtolast %} and{% endif %}
          {%- endfor -%}
        </li>
        {%- endif -%}
        <li class="item__cats__item item__cats__citation">
          <details class="rhythm">
            <summary>Citations & Reference URLs</summary>
            <p>Create a permanent reference to today’s version of this page with <a href="//web.archive.org/save/https://artinruins.com/property{{ page.slug }}" title="Archive.org is a foundation that archives the internet" target="_blank" rel="nofollow noreferrer">Archive.org</a>
            </p>
            <p><label for="cite"><abbr title="Modern Language Association">MLA</abbr>- and <abbr title="Chicago Manual of Style">CMS</abbr>-style Citation:</label> <input id="cite" type="text" readonly class="form__input form__input--text form__input--readonly" value="ArtInRuins & public sources. “Property: {{ page.title }},” ArtInRuins.com, updated {{ page.date-modified | date: "%B %e, %Y" }}, https://artinruins.com/property/{{ page.slug }}/. Accessed {{ 'now' | date: '%B %e, %Y' }}." />
              <span class="form__input--help">Select all to cut and paste citation</span>
            </p>
          </details>
        </li>
      </ul>
      <p class="item__mod"><strong class="u__text__small u__text__sans u__text__sans--bold u__text__to-upper">Last Date Modified:</strong> {{ page.date-modified | date: "%B %e, %Y" }}</p>
    </footer>

    <div id="description" class="item__content rhythm u__vertical__pb u__gutter__p">
      <h2 class="o__title--sm item__content__title">About <span class="u__sr-only">this Property</span></h2>
      {%- include property-item/content-anchors.html
        html=page.content
        beforeHeading=true
        anchorTitle="Press to bookmark this heading"
        anchorBody="<span>#</span>"
        h_min=3
        h_max=3
      -%}

    </div>
  </article>
</main>

{%- if page.latitude and page.longitude -%}
<aside id="js-nearby" class="content item__nearby u__gutter__p" data-latitude="{{ page.latitude }}" data-longitude="{{ page.longitude }}">
</aside>
{%- endif -%}