// Forms
// Raw elements only. No classes

form {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit; // Inherit fonts for inputs and buttons
  font-size: 1rem;
  -webkit-appearance: none;
}

button,
select {
  display: inline-block;
}

input:not(.btn),
textarea {
  border: 2px solid rgba(palette('brand-teal'), 0.25);
  display: block;
  padding: 0.5rem 0.75rem;
  width: 100%;
  
  &:focus {
    border-color: palette('brand-orange');
    box-shadow: none;
    outline: none;
  }
}

input[type=checkbox],
input[type=radio] {
  border: none;
  display: inline-block;
  padding: inherit;
  width: auto;
}

label {
  @extend .o__title--sm;
  display: block;
  color: palette(gray-700);
  padding-bottom: 0.25rem;
}


.form {
  
  fieldset {
    background-color: transparent;
    border: 0;
    margin: -1rem -1rem 0;
    padding: 1.5rem 1rem 0;
    transition: $transition;
    
    &:focus-within {
      background-color: rgba(palette('brand-teal'), 0.1);
    }
  }
  
  &__group__wrapper {
    
    // When the layout supports a 3-column footer, it can support 2-column groups
    @include layout-columns() {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
      
      > .form__group {
        flex: 0 0 48.5%;
        width: 48.5%;
      }
    }
  }
  
  &__group {
    padding-bottom: 0.75rem;
  }
  
  // Honeypot
  &__pollen {
    @include sr-only;
  }
  
  &__submit__group {
    padding-top: 1rem;
  }
  
  &__submit {}
}