table {
  caption {
    @include ff-sans(bold);
    color: palette('brand-teal');
    padding-top: $vertical-rhythm;
    padding-bottom: $vertical-rhythm;
  }
}

.table {
  &__bordered {
    border-top: 0.5px solid palette(gray-200);
    
    th {
      // Bold by browser default
      font-size: 0.9375em;
    }
    
    th, td {
      padding: 0.125rem 0.375rem;
    }
    
    thead th {
      border-bottom: 1.5px solid palette(gray-200);
    }
    
    td:not(:last-child),
    tbody th {
      border-bottom: 0.5px solid palette(gray-200);
      border-right: 0.5px solid palette(gray-200);
    }
  
    .timeline-span {
      background-color: palette(gray-100);
      color: palette(gray-900);
    }
  }
}
